<div class="section-header">
    <h1>
        {{ 'STOWARZYSZENIE.MODULES.PAGES.CONFERENCE_PAGES_ADMIN_TITLE' | translate }}
    </h1>
</div>

<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.PAGES.CONFERENCE_PAGES_ADMIN_SUBTITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.PAGES.CONFERENCE_PAGES_ADMIN_DESC' | translate }}
    </p>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                <app-home-links-list [links]="homelinks"></app-home-links-list>
            </div>
        </div>
    </div>
</div>