<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.PAGE_DESC' | translate }}
    </p>

    <div class="card">
        <app-alert *ngIf="this.alert" [alertType]="this.alert.type" [message]="this.alert.message"></app-alert>

        <div class="card-body">
            <div class="d-flex justify-content-center" *ngIf="loading; else content">
                <div class="spinner-border text-primary"></div>
            </div>

            <ng-template #content>
                <div *ngIf="!this.conference.id || (this.conference.id && this.finished)" class="mt-2 mb-4">
                    <div class="empty-state" data-height="400" style="height: 400px;">
                        <div class="empty-state-icon">
                            <i class="fas fa-question"></i>
                        </div>

                        <h2>
                            {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.NO_CONFERENCE' | translate }}
                        </h2>

                        <p class="lead">
                            {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.NO_CONFERENCE_DESC' | translate}}
                        </p>

                        <a class="btn btn-primary mt-4" [routerLink]="['../create']">
                            {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.ADD_CONF_BUTT' | translate }}
                        </a>
                    </div>
                </div>

                <div *ngIf="this.conference && this.conference.id && !this.finished">
                    <h4 class="mb-3">
                        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.GENERAL_SETTINGS.INFO_TITLE' | translate }}
                    </h4>

                    <!-- conference name -->
                    <div class="form-group">
                        <label>
                            {{ 'STOWARZYSZENIE.MODULES.ADD_CONFERENCE.FIELD_CONF_NAME_LABEL' | translate }}
                        </label>

                        <div class="input-group mb-4">
                            <input type="text" class="form-control" required [(ngModel)]="this.conference['name_' + this.lang]">
                            <div class="input-group-append">
                                <button class="btn btn-primary" [class.btn-progress]="translateNameLoading" type="button" (click)="getNameTranslations()" [disabled]="this.conference['name_' + this.lang] === ''">
                                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                                </button>
                            </div>
                        </div>

                        <app-translations-list *ngIf="this.nameTranslations.length != 0" [translations]="this.nameTranslations" [type]="'input'"></app-translations-list>
                    </div>

                    <!-- conference acronym -->
                    <div class="form-group mb-3">
                        <label>
                            {{ 'STOWARZYSZENIE.MODULES.ADD_CONFERENCE.CONF_ACRONYM_LABEL' | translate }}
                        </label>
                        <input type="text" class="form-control" aria-describedby="helpblock" required [(ngModel)]="this.conference.acronym">

                        <small id="helpblock" class="form-text text-muted">
                            {{ 'STOWARZYSZENIE.MODULES.ADD_CONFERENCE.HELP_BLOCK' | translate }}
                        </small>
                    </div>

                    <!-- conference website -->
                    <div class="form-group mb-3">
                        <label>
                            {{ 'STOWARZYSZENIE.MODULES.ADD_CONFERENCE.CONF_WEBSITE_LABEL' | translate }}
                        </label>
                        <input type="text" class="form-control" aria-describedby="helpblock2" [(ngModel)]="this.conference.conference_preference.website">

                        <small id="helpblock2" class="form-text text-muted">
                            {{ 'STOWARZYSZENIE.MODULES.ADD_CONFERENCE.HELP_BLOCK2' | translate }}
                        </small>
                    </div>

                    <!-- conference place -->
                    <div class="form-group mb-3">
                        <label>
                            {{ 'STOWARZYSZENIE.MODULES.ADD_CONFERENCE.CONF_PLACE_LABEL' | translate }}
                        </label>

                        <div class="input-group mb-3">
                            <input type="text" class="form-control" required [(ngModel)]="this.conference.conference_preference['place_' + this.lang]">
                            <div class="input-group-append">
                                <button class="btn btn-primary" [class.btn-progress]="translatePlaceLoading" type="button" (click)="getPlaceTranslations()" [disabled]="this.conference.conference_preference['place_' + this.lang] === ''">
                                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                                </button>
                            </div>
                        </div>

                        <app-translations-list *ngIf="this.placeTranslations.length != 0" [translations]="this.placeTranslations" [type]="'input'"></app-translations-list>
                    </div>

                    <div class="form-group">
                        <label>
                            {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.CHANGE_STATUS' | translate }}
                        </label>
                        <!-- <select class="custom-select" >
                          <option value="waiting" [selected]="this.conference.status === 'waiting'">
                            <span class="badge badge-warning">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.STATUS.WAITING' | translate }}
                            </span>
                          </option>
                          <option value="during" [selected]="this.conference.status === 'during'">
                            <span class="badge badge-info">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.STATUS.DURING' | translate }}
                            </span>
                          </option>
                          <option value="finished" [selected]="this.conference.status === 'finished'">
                            <span class="badge badge-success">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.STATUS.FINISHED' | translate }}
                            </span>
                          </option>
                        </select> -->

                        <select class="custom-select" (change)="changeStatus($event)">
                            <option *ngFor="let status of statuses" [value]="status.name" [selected]="conference.status === status.name">
                                {{ status.translation_key | translate }}</option>
                        </select>
                    </div>

                    <button class="btn btn-block btn-primary mt-5" (click)="updateConference()" [class.btn-progress]="addLoading" [disabled]="nameTranslations.length === 0 && placeTranslations.length === 0">
                        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE' | translate }}
                    </button>
                </div>
            </ng-template>
            <div class="d-flex justify-content-center" *ngIf="this.conference && this.conference.id && !this.finished">
                <a [routerLink]="['../actual']" routerLinkActive="router-link-active"  class="btn text-primary mt-4">
                    {{ 'STOWARZYSZENIE.HELPERS.BACK_TO_CONFERENCE' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>
