<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.GENERAL.PAGE_DESC' | translate }}
    </p>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center" *ngIf="loading; else content">
                <div class="spinner-border text-primary"></div>
            </div>

            <ng-template #content>
                <div *ngIf="!this.conference" class="mt-2">
                    <p>
                        {{ 'STOWARZYSZENIE.HELPERS.CONFERENCE_NOT_EXIST' | translate }}
                    </p>
    
                    <div class="d-flex justify-content-center mt-3">
                        <a [routerLink]="['../create']"  class="btn btn-primary">
                            {{ 'STOWARZYSZENIE.HELPERS.CONF_NOT_EXISTS_BTN' | translate }}
                        </a>
                    </div>
                </div>

                <div *ngIf="this.conference">
                    
                </div>
            </ng-template>
        </div>
    </div>
</div>
