<h2 mat-dialog-title>
    <span>
        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ADD_COMMENT.MODAL_TITLE' | translate }}
    </span>
</h2>

<mat-dialog-content>
    <!-- dodaj komentarz -->
    <div class="section-title mt-0">
        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ADD_COMMENT.ADD_COMMENT_FORM' | translate }}
    </div>

    <div class="form-group mb-3">
        <label>
            {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ADD_COMMENT.COMMENT_TEXT_LABEL' | translate }}
        </label>
        <textarea class="form-control" required="" [(ngModel)]="this.newComment.description"></textarea>
    </div>

    <button class="btn btn-primary btn-block mb-4" (click)="addComment()" [class.btn-progress]="this.addLoading">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.ADD' | translate }}
    </button>

    <!-- brak komentarzy -->
    <div *ngIf="this.article && this.article.article_comments.length === 0">
        <P>
          {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ADD_COMMENT.NO_COMMENTS' | translate }}
        </P>
    </div>
    <!-- komentarze artykulu -->
    <div class="activities" *ngIf="this.article && this.article.article_comments.length > 0">
        <div class="activity" *ngFor="let comment of this.article.article_comments">
          <div class="activity-icon bg-primary text-white shadow-primary">
            <i class="fas fa-comment-alt"></i>
          </div>
          <div class="activity-detail">
            <div class="mb-2">
                <span class="text-job text-primary">
                    <!-- TODO: zrobic zeby sie wyswietlalo w odpowiednim jezyku -->
                    2 min ago
                    <!-- TODO: pipe 'created ... ago' -->
                </span>
            </div>
            <p>
                <!-- TODO: czasem sie nie wyswietla tresc (po dodaniu)? -->
                {{ comment.description }}
            </p>
          </div>
        </div>
      </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button " class="btn btn-link" (click)="dismiss()">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CLOSE' | translate }}
    </button>
</mat-dialog-actions>
