<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.MANAGEMENTS.LIST_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.MANAGEMENTS.TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.MANAGEMENTS.PAGE_DESC1' | translate }}
    </p>

    <div class="tab-content">
        <app-alert *ngIf="this.alert" [alertType]="this.alert.type" [message]="this.alert.message"></app-alert>

        <div class="container-fluid">
            <div class="mb-3 card">
                <div class="card-header justify-content-between">
                    <h4>
                        <i class="fas fa-user-tag mr-2"></i> {{ 'STOWARZYSZENIE.MODULES.MANAGEMENTS.LIST_TITLE' | translate }}
                    </h4>
                    <button class="btn btn-primary btn-sm" (click)="openNewTranslationModal({translation_key: ''})">
                        <i class="fas fa-plus mr-2"></i>
                        {{ 'STOWARZYSZENIE.MODALS.NEW_TRANSLATION.TRIGGER_BUTTON' | translate }}
                    </button>
                </div>
                <div class="card-body example-container">
                    <ngx-json-viewer *ngIf="!this.loading" [json]="this.translations" [expanded]="false" (click)="this.toggle()"></ngx-json-viewer>
                </div>
            </div>
        </div>
    </div>
</div>
