<div class="section-header">
  <h1>
      {{ 'STOWARZYSZENIE.MODULES.AUTH.RESETTING.PAGE_TITLE' | translate }}
  </h1>
</div>

<div class="section-body">
  <h2 class="section-title">
      {{ 'STOWARZYSZENIE.MODULES.AUTH.RESETTING.PAGE_TITLE' | translate }}
  </h2>
  <p class="section-lead">
      {{ 'STOWARZYSZENIE.MODULES.AUTH.RESETTING.PAGE_HINT' | translate }}
  </p>

  <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
          <div class="card">
              <div class="card-body">
                  <!-- alert for errors with signing in -->
                  <div class="alert alert-danger alert-has-icon text-white" *ngIf="this.resetingError != ''">
                      <div class="alert-icon">
                          <i class="fas fa-exclamation-triangle"></i>
                      </div>
                      <div class="alert-body">
                          <div class="alert-title">
                              {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.ALERT.TITLE' | translate }}
                          </div>
                          {{ this.resetingError | translate }}
                      </div>
                  </div>

                  <form [formGroup]="afterResetForm">
                      <div *ngIf="!this.reseted else resetedNg">
                          <div class="form-group">
                              <label for="password">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate }}
                              </label>
                              <div class="input-group mb-2">
                                <input id="password"
                                class="form-control"
                                formControlName="password"
                                [type]="passwordIsHidden ? 'password' : 'text'"
                                placeholder="********"
                                required
                                [class.is-valid]="password.valid"
                                [class.is-invalid]="password.dirty && password.invalid">

                                <div class="input-group-append" (click)="this.passwordIsHidden = !this.passwordIsHidden">
                                  <div class="input-group-text">
                                      <div>
                                        <i class="fas fa-eye" *ngIf="this.passwordIsHidden"></i>
                                        <i class="fas fa-eye-slash" *ngIf="!this.passwordIsHidden"></i>
                                      </div>
                                  </div>
                                </div>
                              </div>
                              <small id="emailhint" class="form-text text-muted mb-3">
                                <div *ngIf="password.valid || password.untouched; else passwordInvalid">
                                  {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.PASSWORD_HINT' | translate }}
                                </div>
                                <ng-template #passwordInvalid>
                                  <div *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required" class="text-danger">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.REQUIRED' | translate }}
                                  </div>
                                  <div *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.minlength" class="text-danger">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.PASSWORD_LENGTH' | translate }}
                                  </div>
                                </ng-template>
                              </small>

                              <button class="btn btn-block btn-primary"
                                [disabled]="password.invalid"
                                (click)="changePassword(afterResetForm.getRawValue())"
                                [disabled]="!afterResetForm.valid"
                                [ngClass]="{'btn-progress': this.resettingLoader}">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.RESET.BUTTON' | translate }}
                              </button>

                              <ng-template #noLoading>
                                  <span>
                                      {{ 'STOWARZYSZENIE.MODULES.AUTH.FORGOT.BUTTON_SEND' | translate }}
                                  </span>
                              </ng-template>
                            </div>
                      </div> 
  
                      <ng-template #resetedNg>
                          <h1>
                              {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.RESET.RESETED_TITLE' | translate }} <i class="fas fa-check"></i>
                          </h1>

                          <p>
                              {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.RESET.RESETED_DESC' | translate }}
                          </p>

                          <button class="btn btn-block btn-primary" [routerLink]="['../login']">
                              {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.RESET.LOGIN_LINK' | translate }}
                          </button>
                     </ng-template>
                  </form>

                  <a [routerLink]="['../login']"  class="btn text-primary">
                    <i class="fas fa-arrow-left"></i>
                    {{ 'STOWARZYSZENIE.MODULES.AUTH.FORGOT.BACK_TO_LOGIN' | translate }}
                  </a>
              </div>
          </div>
      </div>
  </div>
</div>

                        <!-- password input -->
                        <!-- <mat-form-field class="password-field" appearance="outline">



                            <mat-icon matSuffix "
                                      matTooltip="Info about the action">


                            </mat-icon>

                          <mat-hint>

                          </mat-hint>

                          <div class="alert-icon longer">
                            <div *ngIf="password.valid; else passwordIconInvalid">
                              <i class="fas fa-check"></i>
                            </div>
                            <ng-template #passwordIconInvalid>
                              <i class="fas fa-times"></i>
                            </ng-template>
                          </div>
                        </mat-form-field>
                    </div>


                  </form>
                </div>
            </div>
        </div>
    </div> -->
