// main color palette
$colorAccentRed: #660014;
$colorPrimaryDarkGreen: #0A3D41;
$colorPrimaryLighter: #316064;

// background colors
$colorWhite: #FFFFFF;
$colorLightGray: #EDEDEF;

// text colors
$colorGray: #C0C1C7;
$colorDarkGray: #4A5054;

// alerts colors
$colorAlertGreen: #43B252;
$colorAlertRed: #D43838;

///variants
$colorVeryLightBlue: #E8EBF1;
$colorVeryLightBlue2: #E2EBFB;
$colorVeryLightBlue3: #D5D8DF;

$colorLightGrayBlue: #C4C5C7;
$colorLightGrayBlue2: #9AA0AA;

$colorDarkGrayBlue: #727B8B;
$colorDarkGrayBlue2: #4E596E;

$colorDarkBlue: #2E3D5C;
$colorDarkBlue2: #141E33;

///
$colorVeryLightRed: #F5DDE2;
$colorVeryLightRed2: #E2BEC5;

$colorLightRed: #C1959E;
$colorLightRed2: #A47881;

$colorRed: #8D515D;
$colorRed2: #783340;
$colorRed3: #6E1A2A;

$colorDarkRed: #660014;
$colorDarkRed2: #41010D;

////

$colorVeryLightGreen: #D1EAEC;
$colorVeryLightGreen2: #AED4D6;

$colorLightGreen: #89B4B7;
$colorLightGreen2: #789698;
$colorLightGreen3: #547A7D;

$colorGreen: #376568;
$colorGreen2: #1E5458;

$colorDarkGreen: #0A3D41;
$colorDarkGreen2: #043134;

////// gray palette
