// main color palette
$colorAccentRed: #660014;
$colorPrimaryDarkGreen: #0A3D41;
$colorPrimaryLighter: #316064;

// background colors
$colorWhite: #FFFFFF;
$colorLightGray: #EDEDEF;

// text colors
$colorGray: #C0C1C7;
$colorDarkGray: #4A5054;

// alerts colors
$colorAlertGreen: #43B252;
$colorAlertRed: #D43838;