///////////// font sizes
$sizeFontPageTitleXL: 30px;
$sizeFontMainTitleXL: 36px;

// text for different uses as text below icons etc.
$sizeFontSecondaryText: 20px;

// forms
$sizeFontPlaceholderXL: 18px;
$sizeFontPlaceholderL: 16px;
$sizeFontPlaceholderM: 16px;
$sizeFontPlaceholderS: 16px;

$sizeFontInputAlertXL: 14px;

$sizeFontTooltipXL: 16px;

$sizeFontCTAXL: 18px;

$sizeFontExternalLinkXL: 16px;

////////////// spaces

$sizeSpaceBetweenInputs: 25px;

// margins / paddings

$sizeSpaceMainContentTopPadding: 80px;
$sizeSpaceMainContentBottomPadding: 80px;

$sizeSpacePlaceholderXL: 22px;