@import './colors.scss';

mat-form-field .alert-icon {
    position: absolute;
    top: 3px;
    right: -35px;
}

i.fas.wrong {
    color: $colorAlertRed;
}
i.fas.ok {
    color: $colorAlertGreen;
}

.alert-icon.longer {
    right: -60px;
}