@import '../../../../../assets/css/colors.scss';
@import '../../../../../assets/css/dimens.scss';
.form-container {
    position: relative;
    margin-top: 60px;
    background: $colorWhite;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(12, 10, 10, .16);
    padding: 40px 60px;
    border-radius: 2px;
    h1 {
        color: $colorPrimaryDarkGreen;
        font-family: 'Rubik', sans-serif;
        font-weight: 500;
        font-size: $sizeFontPageTitleXL;
        margin-bottom: 40px;
    }
    h1+p {
        color: $colorDarkGray;
        font-size: 16px;
        margin-bottom: 20px;
    }
    button {
        margin-top: 40px;
    }
    .alert-icon .spinn {
        height: 30px;
    }
}

a {
    margin-top: 40px;
    display: block;
    text-align: center;
}