<div class="section-header">
    <h1>
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.INTERESTS_ADMIN' | translate }}
    </h1>
</div>

<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.INTERESTS_ADMIN_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN_INTERESTS_DESC1' | translate }}
    </p>

    <div class="col-sm-12">
        <app-alert *ngIf="this.alert" [alertType]="this.alert.type" [message]="this.alert.message"></app-alert>

        <div class="card">
            <div class="card-body">
                <div class="d-flex justify-content-center mb-5 mt-3">
                    <div class="btn btn-info" (click)="openNewInterestModal('new')">
                        <i class="fas fa-plus"></i> Add new interest
                    </div>
                </div>


                <!-- <div class="from-group mb-4">
                    <label class="text-primary" style="font-weight: 600;">
                        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.ADD_NEW_LABEL' | translate }}:
                    </label>

                    <div class="input-group">
                        <input type="text" class="form-control" #newInterest placeholder="{{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.ADD_NEW_PLACEHOLDER' | translate }}" aria-label="">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" [class.btn-progress]="this.addLoading" (click)="addNewInterest(newInterest.value)">
                                {{ 'STOWARZYSZENIE.CRUD_BUTTONS.ADD' | translate }}
                            </button>
                        </div>
                    </div>
                </div> -->

                <div *ngIf="this.loading; else content">
                    <div class="d-flex justify-content-center">
                        <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem;">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>

                <ng-template #content>
                    <ul class="list-group list-group-flush" *ngIf="allInterests.length > 0; else nocontent">
                        <li class="list-group-item d-flex justify-content-between align-items-center" *ngFor="let interest of this.allInterests">
                            <span *ngIf="!interest.editing">
                                {{ interest['name_' + lang] }}
                            </span>

                            <div>
                                <button type="button" class="btn btn-icon icon-left btn-info mr-2" (click)="openNewInterestModal('edit', interest)">
                                    <i class="fas fa-pencil-alt"></i>
                                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.EDIT' | translate }}
                                </button>
                                <button type="button" class="btn btn-icon icon-left btn-danger" [class.btn-progress]="interest.deleteLoading" (click)="openDeleteDialog(interest)">
                                    <i class="fas fa-times"></i>
                                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.DELETE' | translate }}
                                </button>
                            </div>
                        </li>
                    </ul>
                    <ng-template #nocontent>
                        <div class="empty-state" data-height="400" style="height: 400px;">
                            <div class="empty-state-icon">
                                <i class="fas fa-question"></i>
                            </div>
                            <h2>
                                {{ 'STOWARZYSZENIE.HELPERS.EMPTY_STATE.TITLE' | translate }}
                            </h2>
                            <p class="lead">
                                {{ 'STOWARZYSZENIE.HELPERS.EMPTY_STATE.DESC' | translate }}
                            </p>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>