<div class="tab-content">
    <div class="container-fluid">
        <div class="mb-3 card">
            <div class="card-header">
                <h4>
                    <i class="fas fa-user mr-2"></i> {{ 'STOWARZYSZENIE.MODULES.USERS.USERS_LIST_TITLE' | translate }}
                </h4>
            </div>
            <div class="card-body example-container">
                <div class="d-flex justify-content-around">
                    <!-- wyszukiwarka -->
                    <div class="searchbox d-flex">
                        <form [formGroup]="userListForm" novalidate>
                            <mat-form-field floatLabel="never">
                                <input matInput id="search_input" formControlName="search_input" placeholder="{{ 'STOWARZYSZENIE.MODULES.USERS.SEARCH' | translate }}" autocomplete="off" (keyup)="searchUsers()" />
                            </mat-form-field>
                            <i class="fas fa-search search-icon"></i>
                        </form>
                    </div>
                </div>

                <mat-table [dataSource]="listData" matSort>
                    <ng-container matColumnDef="id">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.ID' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.ID' | translate
                  }}:
               </span> {{ element.id }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="login_email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.LOGIN_EMAIL' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.LOGIN_EMAIL' | translate
                  }}:
                </span> {{ element.login_email }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="first_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.FIRST_NAME' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.FIRST_NAME' | translate
                  }}:
                </span> {{ element.first_name }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="last_name">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.LAST_NAME' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.LAST_NAME' | translate
                  }}:
                </span> {{ element.last_name }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="birthdate">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.BIRTHDATE' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.BIRTHDATE' | translate
                  }}:
                </span> {{ element.birthdate }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="contact_email">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.CONTACT_EMAIL' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.CONTACT_EMAIL' | translate
                  }}:
                </span> {{ element.contact_email }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="phone_number">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>
                            {{ 'STOWARZYSZENIE.LABELS.PHONE_NUMBER' | translate }}
                        </mat-header-cell>
                        <mat-cell *matCellDef="let element">
                            <span class="mobile-label">
                  {{
                    'STOWARZYSZENIE.LABELS.PHONE_NUMBER' | translate
                  }}:
                </span> {{ element.phone_number }}
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="actions">
                        <mat-header-cell *matHeaderCellDef></mat-header-cell>
                        <mat-cell *matCellDef="let row">
                            <button class="btn btn-default" [routerLink]="['../profile/', row.id]">
                                <i class="fas fa-address-card"></i>
                            </button>
                        </mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="loading">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            {{ 'STOWARZYSZENIE.LABELS.LOADING_DATA' | translate }}
                        </mat-footer-cell>
                    </ng-container>

                    <ng-container matColumnDef="noData">
                        <mat-footer-cell *matFooterCellDef colspan="6">
                            {{ 'STOWARZYSZENIE.LABELS.NO_DATA' | translate }}
                        </mat-footer-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
                    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData?.filteredData.length == 0)}"></mat-footer-row>
                </mat-table>

                <mat-paginator [pageSizeOptions]="[1, 10, 25, 100]" pageSize="10"></mat-paginator>
            </div>
        </div>
    </div>
</div>
