<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.REVIEWS.PROGRESS.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.PROGRESS.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.PROGRESS.PAGE_DESC' | translate }}
    </p>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center my-3" *ngIf="loading; else content">
                <div class="spinner-border text-primary"></div>
            </div>
        </div>
    </div>

    <ng-template #content>
        <div class="table-responsive">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th>
                  {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.ARTICLE_TITLE_CELL' | translate }}
                </th>
                <th>
                  {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.ARTICLE_AUTHOR_CELL' | translate }}
                </th>
                <th>
                  {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.ARTICLE_TRACK_CELL' | translate }}
                </th>
                <th>
                  {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.STATUS_CELL' | translate}}
                </th>
                <th>
                  {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.ACTIONS_CELL' | translate }}
                </th>
              </tr>

              <tr *ngIf="this.allArticles.length < 1">
                  <td>
                      {{ 'STOWARZYSZENIE.LABELS.NO_DATA' | translate }}
                  </td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>

              <tr *ngFor="let article of allArticles">
                <td class="align-middle">
                  {{ article['title_' + this.lang] }}
                </td>

                <td class="align-middle">
                  <img alt="image" [src]="article.user.preference_user.avatar" class="rounded-circle" width="35" data-toggle="tooltip" [title]="article.user.first_name + ' ' + article.user.last_name">
                </td>

                <td class="align-middle">
                  {{ article.track['name_' + lang] }}
                </td>

                <td class="align-middle">
                  <div class="badge" [ngClass]="{'badge-success': article.status === 'accepted' || article.status === 'reviewed' || article.status === 'in pc', 'badge-info': article.status === 'waiting', 'badge-danger': article.status === 'rejected', 'badge-warning': article.status === 'review'}">
                    {{ article.translation_key | translate }}
                  </div>
                </td>

                <td class="align-middle">
                  <!-- dzialania -->
                  <div class="dropdown">
                    <a href="#" data-toggle="dropdown" class="btn btn-primary dropdown-toggle" aria-expanded="true">
                      {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.ACTIONS_CELL' | translate }}
                    </a>

                    <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(-66px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                      <!-- podgląd -->
                      <a  class="dropdown-item has-icon text-primary" (click)="this.openPreviewModal(article)">
                        <i class="far fa-eye"></i>
                        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.PREVIEW_BTN' | translate }}
                      </a>

                      <!-- akceptuj -->
                      <a class="dropdown-item has-icon text-success" *ngIf="article.status === 'reviewed'" (click)="this.seeReview(article.article_reviews)">
                        <i class="fas fa-check"></i>
                        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.SEE_REVIEW_BTN' | translate }}
                      </a>
                    </div>
                  </div>
                </td>
              </tr>
            </tbody></table>
          </div>
    </ng-template>
</div>
