<h2 mat-dialog-title>
    {{ title | translate }}
</h2>

<mat-dialog-content>
    {{ text | translate }} {{ elToDelete['name_' + lang] }}
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" [class.btn-progress]="this.loading" class="btn btn-danger" (click)="accept()">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.DELETE' | translate }}
    </button>
    <button type="button " class="btn btn-link" (click)="dismiss(false)">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CANCEL' | translate }}
    </button>
</mat-dialog-actions>