<h2 mat-dialog-title>
    <span *ngIf="this.modal_type == 'new_role'">
        {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.TITLE_NEW_ROLE' | translate }}
    </span>

    <span *ngIf="this.modal_type == 'edit_role'">
        {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.TITLE_EDIT_ROLE' | translate }}
    </span>
</h2>

<mat-dialog-content>
    <mat-form-field class="auth-form-field" appearance="outline">
        <mat-label *ngIf="this.modal_type == 'new_role'">
            {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.INPUT_FIELD' | translate }}
        </mat-label>

        <mat-label *ngIf="this.modal_type == 'edit_role'">
            {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.INPUT_FIELD_EDIT' | translate }}
        </mat-label>

        <input #role_name id="role_name" matInput required [value]="roleName">

        <mat-hint>
            <div *ngIf="(role_name.dirty || role_name.touched) && password.invalid && password.errors.required">
                {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.INPUT_FIELD_ERROR' | translate }}
            </div>
        </mat-hint>
    </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" class="btn btn-sm btn-secondary" (click)="sendRoleName(role_name.value)" [disabled]="role_name.value == ''">
        <span *ngIf="this.modal_type == 'new_role'">
            {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.BUTTON_ADD' | translate }}
        </span>

        <span *ngIf="this.modal_type == 'edit_role'">
            {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE' | translate }}
        </span>
    </button>
    <button type="button" class="btn btn-sm btn-link" (click)="dismiss()">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CANCEL' | translate }}
    </button>
</mat-dialog-actions>