<tr>
    <td>
        <img src="../../../../assets/images/default_man.png" alt="">
    </td>
    <td>
        Eryk Kowalski
    </td>
    <td class="text-align-right">
        <button class="btn btn-icon btn-light" data-toggle="tooltip" data-placement="bottom" title="See profile">
            <i class="fas fa-address-card"></i>
        </button>
        <button class="btn btn-icon btn-light" data-toggle="tooltip" data-placement="bottom" title="Send message">
            <i class="fas fa-envelope"></i>
        </button>
        <a href="#" class="btn btn-icon btn-warning" data-toggle="tooltip" data-placement="bottom" title="Edit permissions">
            <i class="fas fa-user-cog"></i>
        </a>
    </td>
</tr>