<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.PAGE_DESC' | translate }}
    </p>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center my-3" *ngIf="this.loading; else content">
                <div class="spinner-border text-primary"></div>
            </div>
        </div>
    </div>

    <ng-template #content>
        <div *ngIf="!this.isReviewed()">
            <div class="form-group">
                <label>
                    {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.REVIEW_TEXT_LABEL' | translate }}
                </label>
                <textarea class="form-control" rows="10" cols="50" [(ngModel)]="this.review.description"></textarea>
            </div>

            <!-- ocena artykulu -->
            <div class="section-title">
                {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.EVALUATE_LABEL' | translate }}
            </div>

            <div class="custom-control custom-radio">
                <input type="radio" id="3" name="customRadio" class="custom-control-input" (change)="this.markChange('3', 'strong accept')">
                <label class="custom-control-label" for="3">
                    3: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.STRONG_ACCEPT_RADIO' | translate }}
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="2" name="customRadio" class="custom-control-input" (change)="this.markChange('2', 'accept')">
                <label class="custom-control-label" for="2">
                    2: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.ACCEPT_RADIO' | translate }}
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="1" name="customRadio" class="custom-control-input" (change)="this.markChange('1', 'weak accept')">
                <label class="custom-control-label" for="1">
                    1: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.WEAK_ACCEPT_RADIO' | translate }}
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="0" name="customRadio" class="custom-control-input" (change)="this.markChange('0', 'borderline paper')">
                <label class="custom-control-label" for="0">
                    0: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.BORDERLINE_RADIO' | translate }}
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="-1" name="customRadio" class="custom-control-input" (change)="this.markChange('-1', 'weak reject')">
                <label class="custom-control-label" for="-1">
                    -1: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.WEAK_REJECT_RADIO' | translate }}
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="-2" name="customRadio" class="custom-control-input" (change)="this.markChange('-2', 'reject')">
                <label class="custom-control-label" for="-2">
                    -2: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.REJECT_RADIO' | translate }}
                </label>
            </div>
            <div class="custom-control custom-radio">
                <input type="radio" id="-3" name="customRadio" class="custom-control-input" (change)="this.markChange('-3', 'strong reject')">
                <label class="custom-control-label" for="-3">
                    -3: {{ 'STOWARZYSZENIE.MODULES.REVIEWS.REVIEW.STRONG_REJECT_RADIO' | translate }}
                </label>
            </div>

            <button type="button" class="btn btn-primary mt-5" [class.btn-progress]="this.addingReview" (click)="addReview()" [disabled]="!this.review.description || !this.review.mark">
                {{ 'STOWARZYSZENIE.MODULES.REVIEWS.ADD_REVIEW' | translate }}
            </button>
        </div>

        <div *ngIf="this.isReviewed()">
            <p>
                {{ this.review.description }}
            </p>

            <h5>
                <div [ngClass]="{'badge-success': (this.review.status === 'strong accept' || this.review.status === 'accept' || this.review.status === 'weak accept'),
                 'badge-danger': (this.review.status === 'weak reject' || this.review.status === 'reject' || this.review.status === 'strong reject')}" class="badge">
                    {{ this.review.translation_key | translate }}
                </div>
            </h5>
        </div>
    </ng-template>
</div>
