<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.CALENDAR.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.PAGE_SUBTITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.PAGE_DESC' | translate }}
    </p>

    <div class="d-flex justify-content-center my-4">
        <button class="btn btn-primary with-icon icon-left" (click)="addEvent()">
            <i class="fas fa-plus"></i>
            {{ 'STOWARZYSZENIE.MODULES.CALENDAR.BTN_ADD' | translate }}
        </button>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header">
                <h4>
                    {{ 'STOWARZYSZENIE.MODULES.CALENDAR.DATES_TABLE_TITLE' | translate }}
                </h4>
            </div>

            <div class="card-body">

                <div class="d-flex justify-content-center" *ngIf="this.loading; else content">
                    <div class="spinner-border text-primary"></div>
                </div>

                <ng-template #content>
                    <div class="table-responsive">
                        <div id="table-1_wrapper" class="dataTables_wrapper container-fluid dt-bootstrap4 no-footer">
                            <div class="row"><div class="col-sm-12 col-md-6">
                                <div class="dataTables_length" id="table-1_length">
                                    <label>Show <select name="table-1_length" aria-controls="table-1" class="form-control form-control-sm"><option value="10">10</option><option value="25">25

                                    </option><option value="50">50</option><option value="100">100</option></select> entries</label></div></div>
                                    <div class="col-sm-12 col-md-6">
                                        <div id="table-1_filter" class="dataTables_filter">
                                            <label>Search:
                                                <input type="search" class="form-control form-control-sm" placeholder="" aria-controls="table-1">
                                            </label>
                                            </div>
                                        </div>
                                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                        <table class="table table-striped dataTable no-footer" id="table-1" role="grid" aria-describedby="table-1_info">
                          <thead class="thead-dark">                                 
                            <tr role="row">
                                <th class="sorting" tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending">
                                    {{ 'STOWARZYSZENIE.MODULES.CALENDAR.EVENT_NAME_TITLE' | translate }}
                                </th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Progress">
                                    {{ 'STOWARZYSZENIE.MODULES.CALENDAR.DATE_TITLE' | translate }}
                                </th>
                                <th class="sorting_disabled" rowspan="1" colspan="1" aria-label="Members">
                                    {{ 'STOWARZYSZENIE.MODULES.CALENDAR.ACTIONS_TITLE' | translate }}
                                </th>
                            </tr>
                          </thead>
                          <tbody *ngIf="this.events">
                            <tr role="row" class="odd">
                                <td>
                                    Deadline: Sending abstracts to tracks
                                </td>
                                <td class="align-middle">
                                    19-02-2021 16:00
                                </td>
                                <td>
                                    <div class="dropdown d-inline show">
                                        <!-- TODO: id + i z ngfora -->
                                        <button class="btn btn-primary dropdown-toggle" type="button" [id]="dropdownMenuButton2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                            {{ 'STOWARZYSZENIE.MODULES.CALENDAR.ACTIONS_TITLE' | translate }}
                                        </button>
                                        <div class="dropdown-menu show" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                                        <a class="dropdown-item has-icon text-danger">
                                            <i class="fas fa-trash"></i>
                                            {{ 'STOWARZYSZENIE.CRUD_BUTTONS.DELETE' | translate}}
                                        </a>
                                        <a class="dropdown-item has-icon text-success" href="#">
                                            <i class="fas fa-pencil-alt"></i>
                                            {{ 'STOWARZYSZENIE.CRUD_BUTTONS.EDIT' | translate}}
                                        </a>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                        </table></div></div><div class="row"><div class="col-sm-12 col-md-5"><div class="dataTables_info" id="table-1_info" role="status" aria-live="polite">Showing 1 to 4 of 4 entries</div></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="table-1_paginate"><ul class="pagination"><li class="paginate_button page-item previous disabled" id="table-1_previous"><a href="#" aria-controls="table-1" data-dt-idx="0" tabindex="0" class="page-link">Previous</a></li><li class="paginate_button page-item active"><a href="#" aria-controls="table-1" data-dt-idx="1" tabindex="0" class="page-link">1</a></li><li class="paginate_button page-item next disabled" id="table-1_next"><a href="#" aria-controls="table-1" data-dt-idx="2" tabindex="0" class="page-link">Next</a></li></ul></div></div></div></div>
                      </div>
                </ng-template>
            </div>
        </div>
    </div>
</div>