<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.CALENDAR.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.PAGE_SUBTITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.PAGE_DESC' | translate }}
    </p>

    <div class="d-flex justify-content-center my-4" *ngIf="!this.loading && this.conference_id">
        <button class="btn btn-primary with-icon icon-left" (click)="addEvent()" *ngIf="this.userProvider.checkPermission('CONFERENCE_CALENDAR.ADD_DATE')">
            <i class="fas fa-plus"></i>
            {{ 'STOWARZYSZENIE.MODULES.CALENDAR.BTN_ADD' | translate }}
        </button>
    </div>

    <div class="col-sm-12">
        <div class="card">
            <div class="card-header" *ngIf="!this.loading && this.conference_id">
                <h4>
                    {{ 'STOWARZYSZENIE.MODULES.CALENDAR.DATES_TABLE_TITLE' | translate }}
                </h4>

                <div class="card-header-form">
                    <form>
                      <div class="input-group">
                        <input type="text" class="form-control" placeholder="Search">
                        <div class="input-group-btn">
                          <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                        </div>
                      </div>
                    </form>
                </div>
            </div>

            <div class="card-body">
                <div class="d-flex justify-content-center" *ngIf="this.loading; else content">
                    <div class="spinner-border text-primary"></div>
                </div>

                <ng-template #content>
                    <app-alert *ngIf="this.alert" [alertType]="this.alert.type" [message]="this.alert.message"></app-alert>

                    <div class="table-responsive" *ngIf="!this.loading && this.conference_id else addConference">
                        <table class="table table-striped table-md">
                            <thead class="thead-dark">
                                <tr role="row">
                                    <th  tabindex="0" aria-controls="table-1" rowspan="1" colspan="1" aria-label="Task Name: activate to sort column ascending">
                                        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.EVENT_NAME_TITLE' | translate }}
                                    </th>
                                    <th  rowspan="1" colspan="1" aria-label="Progress">
                                        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.DATE_TITLE' | translate }}
                                    </th>
                                    <th rowspan="1" colspan="1" aria-label="Members">
                                        {{ 'STOWARZYSZENIE.MODULES.CALENDAR.ACTIONS_TITLE' | translate }}
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngIf="this.events.length < 1">
                                    <td>
                                        {{ 'STOWARZYSZENIE.LABELS.NO_DATA' | translate }}
                                    </td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr *ngFor="let event of this.events">
                                    <td>
                                        {{ event['name_' + this.lang] }}
                                    </td>
                                    <td>
                                        {{ event.datetime }}
                                    </td>
                                    <td>
                                        <div class="d-flex justify-content-start align-items-center">
                                            <a class="has-icon text-success mr-3" (click)="updateEvent(event)" *ngIf="this.userProvider.checkPermission('CONFERENCE_CALENDAR.EDIT_DATE')">
                                                <i class="fas fa-pencil-alt"></i>
                                                {{ 'STOWARZYSZENIE.CRUD_BUTTONS.EDIT' | translate}}
                                            </a>
                                            <a class="has-icon text-danger" (click)="deleteEvent(event)"  *ngIf="this.userProvider.checkPermission('CONFERENCE_CALENDAR.DELETE_DATE')">
                                                <i class="fas fa-trash"></i>
                                                {{ 'STOWARZYSZENIE.CRUD_BUTTONS.DELETE' | translate}}
                                            </a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ng-template #addConference>
                        <div class="empty-state" data-height="400" style="height: 400px;">
                            <div class="empty-state-icon">
                                <i class="fas fa-question"></i>
                            </div>

                            <h2>
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.NO_CONFERENCE' | translate }}
                            </h2>

                            <p class="lead">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.NO_CONFERENCE_DESC' | translate}}
                            </p>

                            <a class="btn btn-primary mt-4" [routerLink]="['../create']" *ngIf="this.userProvider.checkPermission('CONFERENCE_GENERAL.ADD_NEW')">
                                {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.ACTUAL.ADD_CONF_BUTT' | translate }}
                            </a>
                        </div>
                    </ng-template>
                </ng-template>
            </div>
        </div>
    </div>
</div>
