<h2 mat-dialog-title>
    <span *ngIf="this.modal_type == 'new'">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.TITLE_NEW' | translate }}
    </span>

    <span *ngIf="this.modal_type == 'edit'">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.TITLE_EDIT' | translate }}
    </span>
</h2>

<mat-dialog-content>

    <div class="from-group mb-4" *ngIf="this.modal_type == 'new'">
        <label class="text-primary" style="font-weight: 600;">
            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.INPUT_LABEL_NEW' | translate }}
        </label>

        <div class="input-group">
            <input type="text" class="form-control" #new aria-label="" [value]="interest['name_' + this.lang]">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" [class.btn-progress]="this.addLoading" (click)="getInterestTranslations(new.value)" *ngIf="this.modal_type == 'new'">
                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.ADD' | translate }}
                </button>
                <button class="btn btn-primary" type="button" [class.btn-progress]="this.addLoading" (click)="updateInterest(edit)" *ngIf="this.modal_type == 'edit'">
                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.EDIT' | translate }}
                </button>
            </div>
        </div>
    </div>

    <div class="from-group mb-4" *ngIf="this.modal_type == 'edit'">
        <label class="text-primary" style="font-weight: 600;">
            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.INPUT_LABEL_EDIT' | translate }}
        </label>

        <div class="input-group">
            <input type="text" class="form-control" #translate aria-label="" [value]="interest['name_' + this.lang]">
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" [class.btn-progress]="this.addLoading" (click)="getInterestTranslations(translate.value)" *ngIf="this.modal_type == 'edit'">
                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                </button>
            </div>
        </div>
    </div>

    <app-translations-list [translations]="this.translations"></app-translations-list>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" class="btn btn-primary" [class.btn-progress]="isSaving" (click)="addInterest()" *ngIf="modal_type === 'new'">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE_SHORT' | translate }}
    </button>
    <button type="button" [class.btn-progress]="this.isSaving" class="btn btn-primary" *ngIf="modal_type === 'edit'" (click)="updateInterest()">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE' | translate }}
    </button>
    <button type="button " class="btn btn-link" (click)="dismiss()">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CANCEL' | translate }}
    </button>
</mat-dialog-actions>