<h5>
    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.TRANSLATIONS' | translate }}
</h5>
<p>
    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.TRANSLATIONS_DESC' | translate }}
</p>

<form #translationsForm="ngForm">
    <ul class="list-unstyled">
        <li *ngFor="let text of this.translations; let i = index; trackBy: trackByFn">
            <div class="form-group row">
                <label [for]="'text' + i" class="col-sm-3 col-form-label h4">
                    {{ this.languageService.supportedLangs[i] }}
                </label>
                <div class="col-sm-9">
                    <input *ngIf="this.type === 'input'" type="email" class="form-control" [name]="'name_' + i" data-toggle="tooltip" data-placement="top" [title]="'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.INPUT_HINT' | translate" [(ngModel)]="this.translations[i]">
                    <textarea *ngIf="this.type === 'textarea'" class="form-control" [name]="'name_' + i"  data-toggle="tooltip" data-placement="top" [title]="'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.INTERESTS.MODAL.INPUT_HINT' | translate" [(ngModel)]="this.translations[i]"></textarea>
                </div>
            </div>
        </li>
    </ul>
</form>
