@import '../../../../../assets/css/colors.scss';

.stepper-container {
    h1 {
        color: $colorPrimaryDarkGreen;
        font-size: 1.3rem;
        text-align: center;
        font-weight: 500 !important;
    }

    .progressbar {
        padding: 0;

        li {
            list-style-type: none;
            width: 25%;
            position: relative;
            text-transform: uppercase;
            font-size: 16px;
            color: $colorGray;
            float: left;

            span {
                margin: 0 auto;
                display: block;
                text-align: center;
                font-size: .9rem;
            }

            &:hover {
                cursor: pointer;
            }

            &::before {
                text-align: center;
                width: 30px;
                line-height: 30px;
                display: block;
                margin: 0 auto;
                font-size: 15px;
                background: $colorGray;
                color: $colorWhite;
                border-radius: 2px;
            }
        }

        li:nth-child(1) {
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f023';
            }
        }

        li:nth-child(2) {
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f007';
            }
        }

        li:nth-child(3) {
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f19c';
            }
        }

        li:nth-child(4) {
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f095';
            }
        }

        li:first-child::after {
            content: none;
        }

        li::after {
            width: 100%;
            height: 2px;
            content: '';
            position: absolute;
            background: $colorGray;
            left: -50%;
            top: 15px;
            z-index: -1;
        }

        li.active,
        li.completed {
            color: $colorPrimaryDarkGreen;

            &::before {
                background: $colorPrimaryDarkGreen;
            }
        }

        li.active::after,
        li.completed::after {
            background-color: $colorPrimaryDarkGreen;
        }

        li.end {
            margin: 0 auto;
            display: block;
            width: 100%;
            
            &::before {
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                content: '\f00c';
                text-align: center;
                width: 30px;
                line-height: 30px;
                display: block;
                margin: 0 auto;
                font-size: 15px;
                background: $colorPrimaryDarkGreen;
                color: $colorWhite;
                border-radius: 2px;
            }
        }
    }
}

.form-container {
    position: relative;
    margin-top: 60px;
    background: $colorWhite;
    box-sizing: border-box;
    box-shadow: 0 3px 10px rgba(12, 10, 10, .16);
    padding: 40px 60px;
    border-radius: 2px;
}

.submit-button {
    margin-top: 40px;

    &:disabled {
        cursor: default;
        background: $colorGray;
    }
}

.external-link {
    border: none;
    outline: none;
    box-shadow: none;
    background: none;
    font-family: 'Rubik', sans-serif;
    font-weight: 400;
    margin-top: 20px;
    display: block;
    text-align: center;
    width: 100%;

    &:hover {
        cursor: pointer;
    }
}