<div *ngIf="this.role === 'admin' || (this.role === 'user' && !this.preview && this.userID == this.userProvider.getUser().id) || (this.role === 'user' && this.preview && this.card.admin_visibility && this.card.user_visibility)" class="card" [ngClass]="{ 'disabled': this.card.admin_visibility == 0 || (this.role === 'user' && this.card.user_visibility == 0) }">
    <div class="card-header">
        <h4>
            {{ card['name_' + this.lang] }}
        </h4>
        <div class="card-header-action" *ngIf="this.role === 'admin' || (this.card.admin_visibility && (this.role === 'user' && this.userID == this.userProvider.getUser().id && !this.preview))">
            <div class="dropdown">
                <a data-toggle="dropdown" class="btn btn-success text-white dropdown-toggle" aria-expanded="false">
                    {{ 'STOWARZYSZENIE.HELPERS.OPTIONS' | translate }}
                </a>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 26px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item has-icon" (click)="emitEditEvent()" *ngIf="this.role === 'admin'">
                        <i class="far fa-edit"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.EDIT' | translate }}
                    </a>
                    <a class="dropdown-item has-icon text-danger" (click)="deleteCard()" *ngIf="this.role === 'admin'">
                        <i class="far fa-trash-alt"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.DELETE' | translate }}
                    </a>

                    <a class="dropdown-item" (click)="hideCard()" *ngIf="(this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')) || (this.role === 'user' && this.owner)">
                        <span *ngIf="(this.role === 'admin' && this.card.admin_visibility) || (this.role === 'user' && this.card.user_visibility)">
                            <i class="fas fa-eye-slash mr-2"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.HIDE' | translate }}
                        </span>
                        <span *ngIf="(this.role === 'admin' && !this.card.admin_visibility) || (this.role === 'user' && !this.card.user_visibility)">
                            <i class="fas fa-eye mr-2"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SHOW' | translate }}
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>

    <div class="card-body">
        <div class="d-flex justify-content-center">
            <div *ngIf="this.isLoading; else content" class="spinner-border text-primary " role="status" style="width: 2rem; height: 2rem;">
                <span class="sr-only">Loading...</span>
            </div>
        </div>

        <ng-template #content>
            <div *ngIf="contents.length === 0">
                <div class="empty-state" data-height="200" style="height: 200px;">
                    <div class="empty-state-icon">
                        <i class="fas fa-question"></i>
                    </div>
                    <p *ngIf="this.role === 'admin'" class="lead">
                        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.EMPTY_CARD' | translate }}
                    </p>
                    <p *ngIf="this.role === 'user'" class="lead">
                        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.EMPTY_CARD_USER' | translate }}
                    </p>
                </div>
            </div>

            <div class="contents" *ngIf="contents.length > 0">
                <ul class="list-unstyled">
                    <li class="list-item" *ngFor="let content of contents; let i = index">
                        <div *ngIf="this.role === 'admin' || (this.role === 'user' && !this.preview && (this.userID == this.userProvider.getUser().id)) || (this.role === 'user' && this.preview && content.admin_visibility && content.user_visibility)"
                             [ngSwitch]="content.type" [ngClass]="{ 'disabled': content.admin_visibility == 0 || (this.role === 'user' && content.user_visibility == 0) }">
                            <div *ngSwitchCase="'input'">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">
                                        {{ content['name_' + lang] }}
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm" [value]="content.contents[0]['filled_' + this.lang]" disabled>
                                            <div class="input-group-append" *ngIf="this.role === 'admin' || (this.role === 'user' && content.admin_visibility)">
                                                <button class="btn btn-danger btn-icon btn-sm" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_CARDS')" (click)="deleteContent(content)">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <button class="btn btn-success btn-icon btn-sm" *ngIf="this.owner && !this.preview" (click)="openFillContentModal(content, 'input')">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button class="btn btn-warning btn-icon btn-sm" *ngIf="(this.role === 'admin' && content.admin_visibility) || (this.role === 'user' && this.userID == this.userProvider.getUser().id && content.user_visibility && !this.preview)" (click)="hideContent(content)">
                                                    <i class="fas fa-eye-slash"></i>
                                                </button>
                                                <button class="btn btn-warning btn-icon btn-sm" *ngIf="(this.role === 'admin' && !content.admin_visibility) || (this.role === 'user' && this.userID == this.userProvider.getUser().id && !content.user_visibility && !this.preview)" (click)="hideContent(content)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchCase="'textarea'">
                                <div class="form-group row">
                                    <label class="col-sm-3 col-form-label">
                                        {{ content['name_' + lang] }}
                                    </label>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <textarea class="form-control" rows="4" cols="5" [value]="content.contents[0]['filled_' + this.lang]" disabled></textarea>
                                            <div class="input-group-append" *ngIf="this.role === 'admin' || (this.role === 'user' && content.admin_visibility)">
                                                <button class="btn btn-danger btn-icon btn-sm" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_CARDS')" (click)="deleteContent(content)">
                                                    <i class="fas fa-times"></i>
                                                </button>
                                                <button class="btn btn-success btn-icon btn-sm" *ngIf="this.owner && !this.preview" (click)="openFillContentModal(content, 'textarea')">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                                <button class="btn btn-warning btn-icon btn-sm" *ngIf="(this.role === 'admin' && content.admin_visibility) || (this.role === 'user' && this.userID == this.userProvider.getUser().id && content.user_visibility && !this.preview)" (click)="hideContent(content)">
                                                    <i class="fas fa-eye-slash"></i>
                                                </button>
                                                <button class="btn btn-warning btn-icon btn-sm" *ngIf="(this.role === 'admin' && !content.admin_visibility) || (this.role === 'user' && this.userID == this.userProvider.getUser().id && !content.user_visibility && !this.preview)" (click)="hideContent(content)">
                                                    <i class="fas fa-eye"></i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchCase="'checkbox'">
                                <div class="form-group row">
                                    <div class="col-sm-3">
                                        <label class="col-form-label">
                                            {{ content['name_' + lang] }}
                                        </label>
                                    </div>
                                    <div class="col-sm-9">
                                        <div class="input-group">
                                            <ul class="list-unstyled">
                                                <li *ngFor="let item of content.contents; let i = index">
                                                    <div class="custom-control custom-checkbox">
                                                        <input type="checkbox" class="custom-control-input" [id]="'option' + i" [disabled]="this.role === 'admin' || (this.role === 'user' && this.preview)" (click)="this.markCheckbox(i, item)" [checked]="item.selected == 1">
                                                        <label class="custom-control-label" [for]="'option' + i">
                                                            {{ item['value_' + lang] }}
                                                        </label>
                                                    </div>
                                                </li>
                                            </ul>
                                            <button class="btn btn-danger btn-icon btn-sm" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_CARDS')" (click)="deleteContent(content)">
                                                <i class="fas fa-times"></i>
                                            </button>
                                            <button class="btn btn-warning btn-icon btn-sm" *ngIf="(this.role === 'admin' && content.admin_visibility) || (this.role === 'user' && this.userID == this.userProvider.getUser().id && content.user_visibility && !this.preview)" (click)="hideContent(content)">
                                                <i class="fas fa-eye-slash"></i>
                                            </button>
                                            <button class="btn btn-warning btn-icon btn-sm" *ngIf="(this.role === 'admin' && !content.admin_visibility) || (this.role === 'user' && this.userID == this.userProvider.getUser().id && !content.user_visibility && !this.preview)" (click)="hideContent(content)">
                                                <i class="fas fa-eye"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngSwitchDefault>

                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </ng-template>

        <a class="btn btn-primary text-white mt-4" (click)="openNewContentModal('new')" *ngIf="this.role === 'admin'">
            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.EMPTY_CARD_BUTTON' | translate }}
        </a>
    </div>
</div>
