<h2 mat-dialog-title>
    <span *ngIf="this.role == 8">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.TRACKS.MODAL.NEW_REVIEWER' | translate }}
    </span>

    <span *ngIf="this.role == 6">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.TRACKS.MODAL.NEW_CHAIR' | translate }}
    </span>
</h2>
<mat-dialog-content>
  <div class="d-flex justify-content-center my-3">
    <div class="spinner-border text-primary" *ngIf="this.loading else content"></div>
    <ng-template #content>
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h4 *ngIf="this.role == 8">
                {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.TRACKS.MODAL.NEW_REVIEWER_LABEL' | translate }}
              </h4>
              <h4 *ngIf="this.role == 6">
                {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.TRACKS.MODAL.NEW_CHAIR_LABEL' | translate }}
              </h4>

              <div class="card-header-form">
                <form>
                  <!-- TODO: wyszukiwarka -->
                  <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <div class="input-group-btn">
                      <button class="btn btn-primary"><i class="fas fa-search"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>

            <div class="card-body p-0">
              <div class="table-responsive">
                <table class="table table-striped">
                  <tbody><tr>
                    <th>
                      {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.TABLE_USERS_TITLE' | translate }}
                    </th>
                    <th>
                      {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.TABLE_INTEREST_TITLE' | translate}}
                    </th>
                    <th>
                      {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.TABLE_ROLES_TITLE' | translate }}
                    </th>
                    <th>
                      {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.TABLE_EMAIL_TITLE' | translate }}
                    </th>
                    <th>
                      {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.TABLE_ACTIONS_TITLE' | translate }}
                    </th>
                  </tr>

                  <tr *ngIf="this.users.length < 1">
                    <td>
                      {{ 'STOWARZYSZENIE.LABELS_TABLES.NO_DATA' | translate }}
                    </td>
                  </tr>

                  <tr *ngFor="let user of users">
                    <td>
                      <li class="media">
                        <img alt="image" class="mr-3 rounded-circle" width="50" [src]="user.preference_user.avatar">
                        <div class="media-body">
                          {{ user.affilation_user.title }}
                          <div class="media-title">
                            {{ user.name }}
                          </div>
                          <div class="text-job text-muted">

                          </div>
                        </div>
                      </li>
                    </td>

                    <td>
                      <div class="badge badge-primary" *ngFor="let interest of user.interests">
                        {{ interest['name_' + this.lang] }}
                      </div>
                    </td>

                    <td>
                      <div class="badge badge-secondary" *ngFor="let role of user.roles">
                        {{ role['name_' + this.lang] }}
                      </div>
                    </td>

                    <!-- email kontaktowy -->
                    <td>
                      {{ user.contact_email }}
                    </td>

                    <!-- akcje -->
                    <td>
                      <a class="btn btn-info text-white" (click)="addToList(user)" *ngIf="this.selectedusers.indexOf(user) === -1; else assigned">
                        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.ADD' | translate }}
                      </a>

                      <ng-template #assigned>
                        <p class="text-muted">
                          {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.TRACK_MEMBERS.ALREADY_ASSIGNED' | translate }}
                        </p>
                      </ng-template>
                    </td>
                  </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</mat-dialog-content>
<mat-dialog-actions>
    <button type="button" class="btn btn-primary" [class.btn-progress]="this.isSaving" (click)="save()" [disabled]="this.selectedusers.length < 1">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE_SHORT' | translate }}
    </button>
    <button type="button" class="btn btn-link" (click)="dismiss()">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CANCEL' | translate }}
    </button>
</mat-dialog-actions>
