<div class="container testimonial-group">
    <ul class="nav" cdkDropList cdkDropListOrientation="horizontal" id="protfolio-tabs" role="tablist" *ngIf="this.tabs.length > 0" (cdkDropListDropped)="drop($event)">
        <li class="nav-item mr-2" *ngFor="let tab of tabs" cdkDrag>
            <!-- <a class="nav-link" [id]="'tab' + tab.id" data-toggle="tab" [href]="'#tab_' + tab.id" role="tab" aria-controls="home">
                            {{ tab['name_' + lang] }} 
                        </a> -->

            <div class="btn-group">
                <!-- disabled tab -->
                <a type="button" *ngIf="(this.role === 'admin' && !tab.admin_visibility) || (this.role === 'user' && this.owner && !tab.user_visibility)" [class.btn-progress]="tab.hiddingLoader" data-toggle="tooltip" [title]="'STOWARZYSZENIE.HELPERS.TOOLTIPS.DISABLED_TAB' | translate"
                    (click)="selectActiveTab(tab)" class="btn btn-primary text-white disabled" [id]="'tab' + tab.id" [href]="'#tab_' + tab.id" role="tab">
                    {{ tab['name_' + lang] }} 
                </a>

                <!-- normal tab -->
                <a type="button" *ngIf="(this.role === 'admin' && tab.admin_visibility) || (this.role === 'user' && !this.owner && tab.user_visibility) || (this.role === 'user' && this.owner && tab.user_visibility && !this.preview)" (click)="selectActiveTab(tab)" class="btn btn-primary text-white"
                    [id]="'tab' + tab.id" data-toggle="tab" [href]="'#tab_' + tab.id" role="tab">
                                {{ tab['name_' + lang] }} 
                </a>
                <a type="button" *ngIf="(this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')) || (this.role === 'user' && this.owner || this.preview)" class="btn btn-primary text-white dropdown-toggle dropdown-toggle-split" data-toggle="dropdown">
                    <span class="sr-only">Toggle Dropdown</span>
                </a>
                <div class="dropdown-menu" *ngIf="(this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')) || (this.owner)">
                    <a class="dropdown-item text-success" (click)="openTabModal('edit', tab)" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')">
                        <i class="fas fa-pencil-alt mr-2"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.EDIT' | translate }}
                    </a>
                    <a class="dropdown-item text-danger" (click)="openDeleteDialog(tab)" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')">
                        <i class="fas fa-times mr-2"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.DELETE' | translate }}
                    </a>
                    <a class="dropdown-item" (click)="hideOrShowTab(tab)" *ngIf="(this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')) || this.owner">
                        <span *ngIf="tab.admin_visibility">
                            <i class="fas fa-eye-slash mr-2"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.HIDE' | translate }}
                        </span>
                        <span *ngIf="!tab.admin_visibility">
                            <i class="fas fa-eye mr-2"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SHOW' | translate }}
                        </span>
                    </a>
                </div>
            </div>
        </li>

        <!-- button dodania nowego taba -->
        <!-- TODO: permission -->
        <!-- *ngIf="userService.checkPermission('PROFILE.ADD_TABS')" -->
        <li class="nav-item mr-2" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS')">
            <div class="btn btn-warning" (click)="openTabModal('new')">
                <i class="fas fa-plus"></i> {{ 'STOWARZYSZENIE.CRUD_BUTTONS.ADD' | translate }}
            </div>
        </li>
    </ul>
</div>


<div class="tab-content mt-5" id="tbs-content" *ngIf="this.activeTab">
    <div class="tab-pane fade" [id]="'tab_' + this.activeTab.id" role="tabpanel">
        <!-- *ngIf="!tabLoading; else loading" -->
        <div class="container">
            <div class="row" *ngIf="activeTabsCards">
                <div class="col-sm-12 col-md-6 col-lg-6" *ngFor="let cart of activeTabsCards">
                    <app-portfolio-card [owner]="this.owner" [portfolioRole]="this.role" (editCardEv)="editCard($event)" (delCardEv)="deleteCard($event)" [card]="cart"></app-portfolio-card>
                </div>

                <!-- static card to adding new cards -->
                <!-- TODO: only for editing preferences -->
                <div class="col-sm-12 col-md-6 col-lg-6" *ngIf="this.role === 'admin' && this.userProvider.checkPermission('PORTFOLIO.MANAGE_TABS') && this.activeTab.name_en !== 'Interests'">
                    <div class="card card-add-new" (click)="this.addCard('Card Header')">
                        <div class="card-body">
                            <div class="empty-state" data-height="300" style="height: 300px;">
                                <div class="empty-state-icon bg-warning">
                                    <i class="fas fa-plus"></i>
                                </div>
                                <div class="overlay-loader" *ngIf="this.cardAddingLoad">
                                    <div class="loader">
                                        <div class="spinner-border text-warning" role="status" style="width: 3rem; height: 3rem;">
                                            <span class="sr-only">Loading...</span>
                                        </div>
                                    </div>
                                </div>
                                <h2>
                                    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.ADD_CARD' | translate }}
                                </h2>
                                <p class="lead">
                                    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.ADD_CARD_DESC' | translate }}
                                </p>
                                <a class="btn btn-warning text-white mt-4">
                            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADMIN.ADD_CARD' | translate }}
                        </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <ng-template #innterests>
                <app-interests [owner]="this.owner" [lang]="this.lang" [role]="role"></app-interests>
            </ng-template>
        </div>
    </div>

    <ng-template #loading>
        <div class="overlay-loader">
            <div class="loader">
                <div class="spinner-border text-warning" role="status" style="width: 3rem; height: 3rem;">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
        </div>
    </ng-template>
</div>