<div class="section-header">
    <h1>
        {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.PAGE_TITLE' | translate }}
    </h1>
</div>

<div class="section-body">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
            <div class="card">
                <div class="card-body">
                    <p class="text-muted">
                        <!-- paragraph to describe this page -->
                        {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.PAGE_PARAGRAPH' | translate }}
                    </p>

                    <!-- alert for errors with signing in -->
                    <div class="alert alert-danger alert-has-icon text-white" *ngIf="loginError != ''">
                        <div class="alert-icon">
                            <i class="fas fa-exclamation-triangle"></i>
                        </div>
                        <div class="alert-body">
                            <div class="alert-title">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.ALERT.TITLE' | translate }}
                            </div>
                            {{ loginError | translate }}
                        </div>
                    </div>

                    <!-- form to login -->
                    <form [formGroup]="loginForm" novalidate (submit)="login(loginForm.getRawValue())">
                        <div class="form-group">
                            <label>
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate }}
                            </label>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-at"></i>
                                    </div>
                                </div>
                                <!-- input for email -->
                                <input class="form-control" id="login_email" formControlName="login_email" type="email" placeholder="your.email@domain.com" required [ngClass]="{'is-valid': (login_email.dirty || login_email.touched) && login_email.valid, 
                                    'is-invalid': (login_email.dirty || login_email.touched) && login_email.invalid}">
                                <!-- feedback divs -->
                                <div class="invalid-feedback" *ngIf="(login_email.dirty || login_email.touched) && login_email.invalid && login_email.errors.required">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.REQUIRED' | translate }}
                                </div>
                                <div class="invalid-feedback" *ngIf="(login_email.dirty || login_email.touched) && login_email.invalid && login_email.errors.email">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.EMAIL_INCORRECT' | translate }}
                                </div>
                                <div class="valid-feedback" *ngIf="login_email.valid">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.ALERT.GOOD' | translate }}
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate }}
                            </label>

                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <div class="input-group-text">
                                        <i class="fas fa-lock"></i>
                                    </div>
                                </div>
                                <!-- input for password -->
                                <input class="form-control" id="password" formControlName="password" [type]="passwordIsHidden ? 'password' : 'text'" placeholder="********" required [ngClass]="{'is-valid': (password.dirty || password.touched) && password.valid, 
                                'is-invalid': (password.dirty || password.touched) && password.invalid}">

                                <!-- feedback divs -->
                                <div class="invalid-feedback" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.REQUIRED' | translate }}
                                </div>
                                <div class="invalid-feedback" *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.minlength">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.PASSWORD_LENGTH' | translate }}
                                </div>
                                <div class="valid-feedback" *ngIf="password.valid">
                                    {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.ALERT.GOOD' | translate }}
                                </div>
                            </div>
                        </div>

                        <!-- button for sending login credentals -->
                        <button type="submit" class="btn btn-primary btn-block" [ngClass]="{'disabled': !loginForm.valid || this.isLoading, 'btn-progress': this.isLoading}" [disabled]="!loginForm.valid || this.isLoading">
                            {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.BUTTON' | translate }}
                        </button>
                    </form>
                </div>

                <!-- links to other pages -->
                <a [routerLink]="['../reset']" class="btn text-primary">
                    {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.FORGOT_PASSWORD_LINK' | translate }}
                </a>
                <a [routerLink]="['../register']" class="btn mb-3  text-primary">
                    {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.REGISTER_LINK' | translate }}
                </a>
            </div>
        </div>
    </div>
</div>

<!-- <mat-icon matSuffix (click)="this.togglePassword()" matTooltip="Info about the action">
        <i class="fas fa-eye" *ngIf="this.passwordIsHidden"></i>
        <i class="fas fa-eye-slash" *ngIf="!this.passwordIsHidden"></i>
    </mat-icon>

    <mat-checkbox>
        {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.REMEMBER_ME' | translate }}
    </mat-checkbox>
</form>
-->