<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-xl-6 col-lg-8 col-md-10 col-sm-12">
            <div class="form-container">
                <h1>
                    {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.PAGE_TITLE' | translate }}
                </h1>

                <div class="alert danger" *ngIf="loginError != ''">
                    <i class="fas fa-exclamation-triangle"></i> {{ loginError | translate }}
                </div>

                <form [formGroup]="loginForm" novalidate (submit)="login(loginForm.getRawValue())">
                    <!-- email input -->
                    <mat-form-field class="auth-form-field" appearance="outline">
                        <mat-label>
                            {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.EMAIL_PLACEHOLDER' | translate }}
                        </mat-label>

                        <input id="login_email" formControlName="login_email" type="email" placeholder="email@domain.com" matInput required>

                        <mat-hint>
                            <div *ngIf="(login_email.dirty || login_email.touched) && login_email.invalid && login_email.errors.required">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.REQUIRED' | translate }}
                            </div>
                            <div *ngIf="(login_email.dirty || login_email.touched) && login_email.invalid && login_email.errors.email">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.EMAIL_INCORRECT' | translate }}
                            </div>
                        </mat-hint>

                        <div class="alert-icon">
                            <div *ngIf="login_email.valid; else loginEmailIconInvalid">
                                <i class="fas fa-check ok"></i>
                            </div>
                            <div *ngIf="(login_email.dirty || login_email.touched) && login_email.invalid">
                                <i class="fas fa-times wrong"></i>
                            </div>
                        </div>
                    </mat-form-field>

                    <!-- password input -->
                    <mat-form-field class="auth-form-field password-field" appearance="outline">
                        <mat-label>
                            {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.PASSWORD_PLACEHOLDER' | translate }}
                        </mat-label>

                        <input id="password" formControlName="password" [type]="passwordIsHidden ? 'password' : 'text'" placeholder="********" matInput required>

                        <mat-icon matSuffix (click)="this.togglePassword()" matTooltip="Info about the action">

                            <i class="fas fa-eye" *ngIf="this.passwordIsHidden"></i>
                            <i class="fas fa-eye-slash" *ngIf="!this.passwordIsHidden"></i>
                        </mat-icon>

                        <mat-hint>
                            <div *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.required">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.REQUIRED' | translate }}
                            </div>
                            <div *ngIf="(password.dirty || password.touched) && password.invalid && password.errors.minlength">
                                {{ 'STOWARZYSZENIE.MODULES.AUTH.REGISTER.ALERTS.PASSWORD_LENGTH' | translate }}
                            </div>
                        </mat-hint>

                        <div class="alert-icon longer">
                            <div *ngIf="password.valid">
                                <i class="fas fa-check ok"></i>
                            </div>
                            <div *ngIf="(password.dirty || password.touched) && password.invalid">
                                <i class="fas fa-times wrong"></i>
                            </div>
                        </div>
                    </mat-form-field>

                    <mat-checkbox>
                        {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.REMEMBER_ME' | translate }}
                    </mat-checkbox>

                    <button class="submit-button" [disabled]="!loginForm.valid">
                      <div class="spinner-border" *ngIf="this.isLoading; else noLoading"></div>
                    </button>

                    <ng-template #noLoading>
                        {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.BUTTON' | translate }}
                    </ng-template>
                </form>

                <a [routerLink]="['../reset']" class="external-link primary">
          {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.FORGOT_PASSWORD_LINK' | translate }}
        </a>
            </div>

            <a [routerLink]="['../register']" class="external-link secondary">
        {{ 'STOWARZYSZENIE.MODULES.AUTH.LOGIN.REGISTER_LINK' | translate }}
      </a>
        </div>
    </div>
</div>