@import '../../../../assets/css/colors.scss';
a {
    display: block;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
}

h1 {
    color: $colorPrimaryDarkGreen;
    font-size: 32px;
}

mat-form-field {
    i.fas {
        color: $colorGray;
        font-size: 20px;
    }
    i.fas.wrong {
        color: $colorAlertRed;
    }
    i.fas.ok {
        color: $colorAlertGreen;
    }
    input.ng-invalid {
        color: $colorAccentRed;
        border-color: $colorAccentRed;
        caret-color: $colorAccentRed;
    }
    .mat-input-element.invalid.ng-invalid {
        caret-color: $colorAccentRed;
        border-color: $colorAccentRed;
    }
}

div.gender {
    margin-top: 25px;
    mat-radio-button {
        display: block;
        font-family: 'Rubik', sans-serif;
        margin-bottom: 10px;
        color: $colorGray;
    }
}