<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.REVIEWS.MY.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.MY.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.MY.PAGE_DESC' | translate }}
    </p>

    <div class="card">
        <div class="card-body">
            <div class="d-flex justify-content-center my-3" *ngIf="this.loading || this.loadingReviews; else content">
                <div class="spinner-border text-primary"></div>
            </div>
        </div>
    </div>

    <ng-template #content>
        <div *ngIf="this.assignedArticles && this.assignedArticles.length < 1" class="empty-state" data-height="200">
            <div class="empty-state-icon">
                <i class="fas fa-question"></i>
            </div>
            <h2>
                {{ 'STOWARZYSZENIE.MODULES.REVIEWS.NO_MY_REVIEWS' | translate }}
            </h2>
            <p class="lead">
                {{ 'STOWARZYSZENIE.MODULES.REVIEWS.NO_MY_REVIEWS_DESC' | translate }}
            </p>
        </div>

        <div class="row">
            <div *ngIf="this.assignedArticles && this.assignedArticles.length > 0">
                <div *ngFor="let article of this.assignedArticles" class="col-12 col-sm-6 col-md-6 col-lg-6">
                    <article class="article article-style-c">
                        <div class="article-details">
                            <div *ngIf="article.track_article.status === 'reviewed'" class="badge badge-success mb-4">
                                <i class="fas fa-check"></i>
                                {{ article.track_article.translation_key | translate }}
                            </div>
                            <div class="article-title">
                                <h2>
                                    {{ article.track_article['title_' + this.lang] }}
                                </h2>
                            </div>
                            <div class="badge badge-info my-2">
                                {{ article.track_article['keywords_' + this.lang] }}
                            </div>
                            <div class="article-cta mt-4">
                                <div class="btn-group mb-3 button-group-sm" role="group" aria-label="Basic example">
                                    <button class="btn btn-primary btn-icon icon-left btn-sm" (click)="openPreviewModal(article.track_article)" >
                                        <i class="far fa-eye"></i>
                                        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.PREVIEW_BTN' | translate }}
                                    </button>
                                    <button class="btn btn-icon icon-left btn-warning btn-sm ml-3" (click)="addComment(article.track_article)">
                                        <i class="fas fa-comment"></i>
                                        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.ADD_COMMENT_BTN' | translate }}
                                    </button>
                                    <button *ngIf="isReviewed(article)" class="btn btn-info btn-icon icon-left btn-sm ml-3" (click)="goToReview(article)">
                                        <i class="fas fa-star"></i>
                                        {{ 'STOWARZYSZENIE.MODULES.ARTICLES.ALL.ALL_TAB.SEE_REVIEW' | translate }}
                                    </button>
                                    <button *ngIf="!isReviewed(article)" class="btn btn-icon icon-left btn-warning btn-sm ml-3" (click)="goToReview(article)">
                                        <i class="fas fa-star"></i>
                                        {{ 'STOWARZYSZENIE.MODULES.REVIEWS.MY.ADD_REVIEW_BTN' | translate }}
                                    </button>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </ng-template>
</div>
