<h2 mat-dialog-title>
    <span *ngIf="this.modal_type === 'new'">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL_TITLE.NEW' | translate }}
    </span>

    <span *ngIf="this.modal_type === 'edit'">
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL_TITLE.EDIT' | translate }}
    </span>
</h2>

<mat-dialog-content>
    <!-- opis po co w ogole jest ten modal -->
    <div class="alert alert-light alert-has-icon">
        <div class="alert-icon"><i class="far fa-lightbulb"></i></div>
        <div class="alert-body">
            <div class="alert-title">
                {{ 'STOWARZYSZENIE.HELPERS.HELP' | translate }}
            </div>
            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.HELP_TEXT_1' | translate }} {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.HELP_TEXT_2' | translate }} {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.HELP_TEXT_3' | translate }}
        </div>
    </div>

    <div class="form-group">
        <label>
            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL_INPUT_LABEL' | translate }}
        </label>
        <select class="form-control" [(ngModel)]="selectedType">
            <option value="{{ option.label }}" *ngFor="let option of types">
                {{ option.key | translate }}
            </option>
        </select>
    </div>

    <div [ngSwitch]="selectedType" *ngIf="selectedType">

        <div *ngSwitchCase="'input'">
            <p>
                {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.INPUT_DESC' | translate }}
            </p>

            <div class="form-group mb-4">
                <label class="text-primary" style="font-weight: 600;">
                    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CONTENT_NAME_LABEL' | translate }}
                </label>

                <div class="input-group">
                    <input type="text" class="form-control" #translateInput aria-label="">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" [class.btn-progress]="this.translateLoading" (click)="translate(translateInput.value)">
                            {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <app-translations-list *ngIf="this.titleTranslations.length != 0" [translations]="this.titleTranslations"></app-translations-list>
        </div>

        <div *ngSwitchCase="'textarea'">
            <p>
                {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.TEXTAREA_DESC' | translate }}
            </p>

            <div class="form-group mb-4">
                <label class="text-primary" style="font-weight: 600;">
                    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CONTENT_NAME_LABEL' | translate }}
                </label>

                <div class="input-group">
                    <input type="text" class="form-control" #translateTextArea aria-label="">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" [class.btn-progress]="this.translateLoading" (click)="translate(translateTextArea.value)">
                            {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <app-translations-list *ngIf="this.titleTranslations.length != 0" [translations]="this.titleTranslations"></app-translations-list>
        </div>

        <div *ngSwitchCase="'checkbox'">
            <p>
                {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CHECKBOX_DESC' | translate }}
            </p>

            <div class="form-group mb-4">
                <label class="text-primary" style="font-weight: 600;">
                    {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CONTENT_NAME_LABEL' | translate }}
                </label>

                <div class="input-group">
                    <input type="text" class="form-control" #translateChck aria-label="">
                    <div class="input-group-append">
                        <button class="btn btn-primary" type="button" [class.btn-progress]="this.translateLoading" (click)="translate(translateChck.value, 'title')">
                            {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                        </button>
                    </div>
                </div>
            </div>

            <app-translations-list *ngIf="this.titleTranslations.length != 0" [translations]="this.titleTranslations"></app-translations-list>

            <h5>
                {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CHECKBOX_ADD_OPTION_LABEL' | translate }}
            </h5>

            <ul class="list-unstyled">
                <li *ngFor="let option of contents; let i = index">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" [id]="'option' + i" diabled>
                        <label class="custom-control-label" [for]="'option' + i">
                            {{ option['name_' + lang] }}
                        </label>
                    </div>
                </li>

                <li>
                    <div class="input-group">
                        <input type="text" class="form-control" #translateOption [placeholder]="'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CHECKBOX_CONTENT_PLACEHOLDER' | translate">
                        <div class="input-group-append">
                            <button class="btn btn-primary" type="button" [class.btn-progress]="this.translateLoading" (click)="translate(translateOption.value, 'option')">
                                {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                            </button>
                        </div>
                    </div>

                    <app-translations-list *ngIf="this.newOptionTranslations.length > 0" [translations]="newOptionTranslations"></app-translations-list>

                    <a class="btn btn-link collapsed" data-toggle="collapse" [href]="'#translations' + i" role="button" aria-expanded="false" aria-controls="collapseExample">
                        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL.CHECKBOX_OPEN_TRANSLTIONS' | translate }}
                    </a>
                    <div class="collapse" [id]="'#translations' + i">
                        <p>

                        </p>
                    </div>
                </li>
            </ul>
        </div>


        <div *ngSwitchDefault></div>
    </div>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" class="btn btn-primary" [class.btn-progress]="isSaving" *ngIf="modal_type === 'new'" (click)="addNewContent()">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE_SHORT' | translate }}
    </button>
    <button type="button" [class.btn-progress]="this.isSaving" class="btn btn-primary" *ngIf="modal_type === 'edit'" (click)="updateContent()">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE' | translate }}
    </button>
    <button type="button " class="btn btn-link" (click)="dismiss()">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CANCEL' | translate }}
    </button>
</mat-dialog-actions>