<div class="row">
    <div class="col-4">
        <div class="list-group" id="list-tab" role="tablist">
            <a class="list-group-item list-group-item-action" [class.active]="tab.active" [class.text-white]="tab.active" *ngFor="let tab of tabss" data-toggle="list"  role="tab" (click)="selectTab(tab)"> 
                {{ tab['name_' + lang] }}
            </a>
        </div>
    </div>
    <div class="col-8">
        <app-tab *ngFor="let tab of tabss" [tab]="tab" [lang]="lang"></app-tab>
    </div>
</div>