<!-- TO NAV WIDNIEJE NA STRONIE >PRZED< ZALOGOWANIEM, po powrocie do strony głównej etc.  -->
<div *ngIf="!this.loggedIn">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary shadow-sm">
        <a [routerLink]="['/']" class="navbar-brand sidebar-gone-hide">
            <strong>
                {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.WEBPAGE_TITLE_MEMBERS' | translate }}
            </strong>
        </a>
        <div class="nav-collapse">
            <div class="dropdown d-inline">
                <button class="btn bg-white dropdown-toggle" type="button" id="languageDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img [src]="this.flagsImages[this.languageIndex[translateService.currentLang]]" [alt]="this.lang" class="mr-2" style="height: 22px;">
                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.LANGUAGES.LABEL' | translate }}
                </button>
                <div class="dropdown-menu" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 28px, 0px); top: 0px; left: 0px; will-change: transform;">
                    <a class="dropdown-item has-icon" *ngFor="let lang of translateService.getLangs(); let i = index" [ngClass]="{'active': translateService.currentLang === lang}" (click)="setLang(lang)">
                        <img [src]="this.flagsImages[i]" [alt]="this.lang" class="mr-2" style="height: 22px;"> {{ this.translations[i] | translate }}
                    </a>
                </div>
            </div>
            <a class="sidebar-gone-show nav-collapse-toggle nav-link" href="#">
                <i class="fas fa-ellipsis-v"></i>
            </a>
            <ul class="navbar-nav">
                <li class="nav-item" [routerLink]="['/']">
                    <a class="nav-link">
                        {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.MEMBERS_PAGE_LINKS.HOME' | translate }}
                    </a>
                </li>

                <li *ngFor="let link of this.navigationService.homepagesList">
                    <a class="nav-link" (click)="selectHomepage(link.id)">
                        {{ link['name_' + this.lang] }}
                    </a>
                </li>

                <li class="nav-item" [routerLink]="['/auth/login']" routerLinkActive="active">
                    <a class="nav-link">
                        {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.MEMBERS_PAGE_LINKS.LOGIN' | translate }}
                    </a>
                </li>
                <li class="nav-item" [routerLink]="['/auth/register']" routerLinkActive="active">
                    <a class="nav-link">
                        {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.MEMBERS_PAGE_LINKS.REGISTER' | translate }}
                    </a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="main-content" style="padding-top: 80px;">
        <div class="section container">
            <router-outlet *ngIf="!this.loggedIn"></router-outlet>
        </div>
    </div>
</div>

<!-------------------------------------- NAWIGACJA PO ZALOGOWANIU ------------------------- -->

<div id="app" *ngIf="this.loggedIn">
    <div class="main-wrapper main-wrapper-1">
        <div class="navbar-bg"></div>
        <nav id="main-navbar" class="navbar navbar-expand-lg main-navbar">
            <form class="form-inline mr-auto">
                <ul class="navbar-nav mr-3">
                    <li><a (click)="this.toggleSidebar()" data-toggle="sidebar" class="nav-link nav-link-lg"><i class="fas fa-bars"></i></a></li>
                    <li><a data-toggle="search" class="nav-link nav-link-lg d-sm-none"><i class="fas fa-search"></i></a></li>
                </ul>
                <div class="search-element">

                    <!-- <form [formGroup]="searchInputForm" novalidate>
                        <input class="form-control" id="search_input" formControlName="search_input" type="search" placeholder="Search users" aria-label="Search" data-width="250" style="width: 250px;" (keyup)="searchUsers()">
                        <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    </form> -->

                    <input #searchinput class="form-control" type="search" placeholder="{{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SEARCHBAR.SEARCH' | translate }}" aria-label="Search" data-width="250" style="width: 250px;" (keyup)="searchUsers(searchinput.value)">
                    <button class="btn" type="submit"><i class="fas fa-search"></i></button>
                    <div class="search-backdrop"></div>
                    <div class="search-result">
                        <div class="search-header">
                            {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.MAIN' | translate }}
                        </div>
                        <mat-table [dataSource]="listData" matSort>
                            <ng-container matColumnDef="avatar">
                                <mat-header-cell *matHeaderCellDef>
                                    {{ 'STOWARZYSZENIE.LABELS.AVATAR' | translate }}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    <img src="../../../../assets/images/default_man.png" alt="" class="avatar avatar-sm">
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="name">
                                <mat-header-cell *matHeaderCellDef>
                                    {{ 'STOWARZYSZENIE.LABELS.FIRST_NAME' | translate }}
                                </mat-header-cell>
                                <mat-cell *matCellDef="let element">
                                    {{ element.name }}
                                </mat-cell>
                            </ng-container>

                            <ng-container matColumnDef="loading">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    <!--                      TODO Spinnerek ? :) -->
                                    {{ 'STOWARZYSZENIE.LABELS.LOADING_DATA' | translate }}
                                </mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="noData">
                                <mat-footer-cell *matFooterCellDef colspan="6">
                                    {{ 'STOWARZYSZENIE.LABELS.NO_DATA' | translate }}
                                </mat-footer-cell>
                            </ng-container>

                            <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef></mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                    <td class="text-align-right">
                                        <button class="btn btn-icon btn-light" data-toggle="tooltip" data-placement="bottom" title="{{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SEARCHBAR.SEE_PROFILE' | translate }}" [routerLink]="['/users/profile/', row.id]">
                                            <i class="fas fa-address-card"></i>
                                        </button>
<!--                                        <button class="btn btn-icon btn-light" data-toggle="tooltip" data-placement="bottom" title="Send message">-->
<!--                                            <i class="fas fa-envelope"></i>-->
<!--                                        </button>-->
                                    </td>
                                </mat-cell>
                            </ng-container>

                            <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                            <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide': listData != null}"></mat-footer-row>
                            <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide': !(listData != null && listData?.filteredData.length == 0)}"></mat-footer-row>
                        </mat-table>
                    </div>
                </div>
            </form>

            <ul class="navbar-nav navbar-right">
                <!-- language choosing -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img [src]="this.flagsImages[this.languageIndex[translateService.currentLang]]" [alt]="this.languageService.currentLang" class="rounded-circle mr-1">

                        <div class="d-sm-none d-lg-inline-block">
                            <span>
                                {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.LANGUAGES.LABEL' | translate }}
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item has-icon" *ngFor="let lang of translateService.getLangs(); let i = index" [ngClass]="{'active': translateService.currentLang === lang}" (click)="setLang(lang)">
                            <img [src]="this.flagsImages[i]" [alt]="this.languageService.currentLang"> {{ this.translations[i] | translate }}
                        </a>
                    </div>
                </li>

                <!-- user dropdown -->
                <li class="dropdown">
                    <a data-toggle="dropdown" class="nav-link dropdown-toggle nav-link-lg nav-link-user">
                        <img alt="image" *ngIf="this.userProviderService.getUser()" [src]="this.userProviderService.getUser().preference_user.avatar" class="rounded-circle mr-1">
                        <div class="d-sm-none d-lg-inline-block">
                            <span *ngIf="this.userProviderService?.getUser()">
                                {{ this.userProviderService.getUser().first_name + ' ' + this.userProviderService.getUser().last_name }}
                            </span>
                        </div>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right">
                        <div class="dropdown-title">
                            <span *ngIf="this.userProviderService.getUser()?.login_email">
                                {{ this.userProviderService.getUser()?.login_email }}
                            </span>
                        </div>
                        <a *ngIf="this.userProviderService.getUser()" [routerLink]="['/users/profile', this.userProviderService.getUser().id]" class="dropdown-item has-icon">
                            <i class="far fa-user"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.LOGGED_NAVBAR.MY_ACCOUNT' | translate }}
                        </a>
                        <a class="dropdown-item has-icon">
                            <i class="fas fa-cog"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.LOGGED_NAVBAR.EDIT_ACCOUNT' | translate }}
                        </a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item has-icon text-danger" (click)="logout()">
                            <i class="fas fa-sign-out-alt"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.LOGGED_NAVBAR.LOGOUT' | translate }}
                        </a>
                    </div>
                </li>
            </ul>
        </nav>
        <div id="sidebar-wrapper-parent" class="main-sidebar sidebar-style-2" tabindex="1" style="overflow: hidden; outline: none;">
            <ng-scrollbar>
                <aside id="sidebar-wrapper">
                <div class="sidebar-brand">
                    <a href="index.html">
                        <span class="text-danger">ciob</span>
                        <span class="text-primary">members</span>
                    </a>
                </div>
                <div class="sidebar-brand sidebar-brand-sm">
                    <a [routerLink]="['/dashboard']">CM</a>
                </div>
                <ul class="sidebar-menu">
                    <li class="menu-header">
                        {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.MENU_HEADINGS.MENU' | translate }}
                    </li>
                    <li [routerLink]="['/dashboard']" routerLinkActive="active">
                        <a class="nav-link">
                            <i class="fas fa-fire"></i>
                            <span>
                                {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.DASHBOARD' | translate }}
                            </span>
                        </a>
                    </li>
                    <li class="menu-header">
                        {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.MENU_HEADINGS.USERS' | translate }}
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-user"></i>
                            <span>
                                {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.MAIN' | translate }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['users/users-list']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.USERS_LIST' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['users/roles']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.ROLES_PREFERENCES' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-newspaper"></i>
                            <span>
                                {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.ARTICLES.MAIN' | translate }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['conference-articles/my']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.ARTICLES.MY_ARTICLES' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['conference-articles/all']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.ARTICLES.ALL_ARTICLES' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-star-half-alt"></i>
                            <span>
                                {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.REVIEWS.MAIN' | translate }}
                            </span>
                        </a>
                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['conference-reviews/my']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.REVIEWS.MY_REVIEWS' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['conference-reviews/assign']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.REVIEWS.ASSIGN' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['conference-reviews/progress']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.REVIEWS.PROGRESS' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-id-card"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.PORTFOLIO_MENU' | translate }}
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['users/portfolio-settings']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.PORTFOLIO' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['users/interests']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.INTEREST' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-handshake"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.CONFERENCE_MENU' | translate }}
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/actual']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.ACTUAL_CONFERENCE' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/general']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.GENERAL_SETT_CONF' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/tracks']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.USERS.CONF_TRACKS' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/participants']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.CONFERENCE.PAYMENTS.PAGE_TITLE' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/cfp']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.CONFERENCE.CFP' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/conference-page']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.CONFERENCE.PAGE' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/calendar']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.CONFERENCE.CALENDAR' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/committee']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.CONFERENCE.COMMITTEE' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/gallery']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.CONFERENCE.GALLERY' | translate }}
                                </a>
                            </li>
                            <li routerLinkActive="active">
                                <a [routerLink]="['manage-conference/programme']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.CONFERENCE.PROGRAMME' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-file-alt"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.PAGES_ADMIN.TITLE_MENU_V2' | translate }}
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['pages/homepages']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.PAGES_ADMIN.HOMEPAGES' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="dropdown">
                        <a class="nav-link">
                            <i class="fas fa-id-card"></i> {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.MANAGEMENT.MANAGEMENT_MENU' | translate }}
                        </a>

                        <ul class="dropdown-menu">
                            <li routerLinkActive="active">
                                <a [routerLink]="['managements/translations']" class="nav-link">
                                    {{ 'STOWARZYSZENIE.MODULES.NAVIGATION.SIDENAV.MANAGEMENT.TRANSLATIONS' | translate }}
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </aside>
            </ng-scrollbar>
        </div>

        <!-- Main Content -->
        <div id="main-content" class="main-content" style="min-height: 523px;">
            <section class="section">
                <router-outlet *ngIf="this.loggedIn"></router-outlet>
            </section>
        </div>
        <footer id="main-footer" class="main-footer">
            <div class="footer-left">
                Copyright © 2020
                <div class="bullet"></div> Stowarzyszenie CIOB
            </div>
            <div class="footer-right">

            </div>
        </footer>
    </div>
</div>
