@import '../../../../assets/css/colors.scss';

.main-nav {
    position: fixed;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    height: 55px;
    box-shadow: 0 1px 2px rgba(0,0,0,.085), 0 1px 8px rgba(0,0,0,.1);
    background: #3e454c;

    .logo-wrapper {
        flex-shrink: 0;
        display: flex;
        width: 200px;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center;
        height: 100%;
        font-size: 1.5rem;
        border-right: 1px solid rgba(209, 201, 201, 0.4);

        .logo {
            display: block;
            text-decoration: none;
            color: $colorWhite;
            opacity: .4;

            &:hover {
                opacity: .9;
            }
        }
    }

    .nav-list {
        font-size: .75em;
        height: 45px;
        height: 100%;
        margin: 0;
        margin-left: auto;
        display: flex;
        align-items: center;
        list-style: none;

        li {
            font-size: .875em;
            position: relative;
            font-size: 1rem;
        }

        li.nav-item {
            display: flex;
            align-items: center;
            margin-right: 1em;
            height: 100%;

            a {
                position: relative;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: $colorWhite;
                opacity: .6;

                &:hover {
                    opacity: 1;
                }
            }
        }

        .nav-account {
            display: flex;
            align-items: center;
            height: 100%;

            a {
                height: 100%;
                display: flex;
                align-items: center;
                padding: 0 1.25em;
                padding: 0 10px;
                background-color: #353b40;
                color: $colorWhite;

                img {
                    height: 20px;
                    width: 20px;
                    border-radius: 50%;
                    margin-right: .5em;
                    display: block;
                }
            }
        }

        .nav-sublist {
            position: absolute;
            top: 45px;
            top: 55px;
            right: 0;
            width: 200px;
            display: block;
            box-shadow: 0 1px 8px rgba(0,0,0,.1), 0 8px 24px rgba(0,0,0,.15);
            display: none;
            list-style: none;
            font-size: 1rem;
            padding-left: 0;
            background: #353b40;

            li {
                a {
                    color: $colorWhite;
                    opacity: .6;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            li:not(first-child) {
                padding: 10px 0;
            }
        }
    }
}

.nav-trigger {
    background-color: transparent;
    padding: 0;
    border: 0;
    border-radius: 0;
    position: relative;
    width: 32px;
    height: 45px;
    margin-right: 1.25em;
    display: none;

    span {
        top: calc(50% - 2px);
        right: 4px;
        transition: background .2s;
        position: absolute;
        height: 3px;
        width: 24px;
        background: $colorWhite;
        opacity: .7;

        &:hover {
            opacity: 1;
        }

        &::after, &::before {
            content: '';
            position: absolute;
            height: 3px;
            width: 24px;
            background: $colorWhite;
        }

        &::before {
            top: -6px;
            right: 0;
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            transition: transform .2s,-webkit-transform .2s;
        }

        &::after {
            top: 6px;
            right: 0;
            -webkit-transform-origin: 0 50%;
            -ms-transform-origin: 0 50%;
            transform-origin: 0 50%;
            transition: -webkit-transform .2s;
            transition: transform .2s;
            transition: transform .2s,-webkit-transform .2s;
        }
    }
    
}

@media screen and (min-width: 769px) {
    .main-nav .nav-list .nav-account:hover .nav-sublist {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .main-nav .logo-wrapper {
        border-right: none;
    }

    .nav-trigger {
        display: block;
        margin-left: auto;

        &:focus, &:active {
            outline: none;
            box-shadow: none;
        }
    }

    .main-nav ul.nav-list  {
        position: absolute;
        left: 0;
        width: 100%;
        padding: 0;
        top: 55px;
        height: 0;
        transition: .3s ease-in-out;
        display: none;
        background: #353b40;

        li {
            width: 100%;
            display: block;
            background: #353b40;
            border-bottom: 1px solid rgb(99, 99, 99);
            
            a {
                padding: 0 10px;
            }
        }

        .nav-account {
            background: #353b40;
            display: block;

            a.account-link {
                opacity: 0.6;

                &::after {
                    font-family: "Font Awesome 5 Free"; 
                    font-weight: 900; 
                    content: "\f078";
                    margin-left: auto;
                    margin-right: 10px;
                    width: 20px;
                }

                img {
                    display: none;
                    width: 100%;
                    border-bottom: 1px solid rgb(99, 99, 99);;
                }
            }

            .nav-sublist {
                position: relative;
                width: 100%;
                display: none;
                top: auto;
                height: 0;

                li {
                    background: #2e3338;

                    a {
                        background: #2e3338;
                    }
                }
            }

            .nav-sublist.opened {
                display: block;
            }
        }
    }    

    .main-nav ul.nav-list.opened {
        display: block;
        height: 100%;
    }
}