<h2 mat-dialog-title>
    <span>
        {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.CONTENT.MODAL_TITLE.EDIT' | translate }}
    </span>
</h2>

<mat-dialog-content>

    <div class="from-group mb-4">
        <label class="text-primary" style="font-weight: 600;">
            {{ 'STOWARZYSZENIE.MODULES.PORTFOLIO.ADD_MODAL.NEW_INPUT' | translate }}
        </label>

        <div class="input-group">
            <input *ngIf="this.type === 'input'" type="text" class="form-control" aria-label="" [(ngModel)]="content?.contents[0]['filled_' + this.lang]">
            <textarea *ngIf="this.type === 'textarea'" class="form-control" aria-label="" [(ngModel)]="content?.contents[0]['filled_' + this.lang]"></textarea>
            <div class="input-group-append">
                <button class="btn btn-primary" type="button" [class.btn-progress]="this.translating" (click)="translate()">
                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.TRANSLATE' | translate }}
                </button>
            </div>
        </div>
    </div>

    <app-translations-list *ngIf="translations.length" [translations]="translations" [type]="this.type"></app-translations-list>
</mat-dialog-content>

<mat-dialog-actions>
    <button type="button" [class.btn-progress]="this.isSaving" class="btn btn-primary" (click)="updateContent()">
        {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE' | translate }}
    </button>
    <button type="button " class="btn btn-link" (click)="dismiss()">
        {{ 'STOWARZYSZENIE.MODALS.BUTTON_CANCEL' | translate }}
    </button>
</mat-dialog-actions>
