<div class="section-header">
    <h1>{{ 'STOWARZYSZENIE.MODULES.ROLES.LIST_TITLE' | translate }}</h1>
</div>
<div class="section-body">
    <h2 class="section-title">
        {{ 'STOWARZYSZENIE.MODULES.ROLES.SECTION_TITLE' | translate }}
    </h2>
    <p class="section-lead">
        {{ 'STOWARZYSZENIE.MODULES.ROLES.PAGE_DESC1' | translate }}
    </p>

    <div class="tab-content">
        <app-alert *ngIf="this.alert" [alertType]="this.alert.type" [message]="this.alert.message"></app-alert>

        <div class="container-fluid">
            <div class="mb-3 card">
                <div class="card-header justify-content-between">
                    <h4>
                        <i class="fas fa-user-tag mr-2"></i> {{ 'STOWARZYSZENIE.MODULES.ROLES.LIST_TITLE' | translate }}
                    </h4>
                    <button class="btn btn-primary btn-sm" (click)="openNewRoleModal()" *ngIf="this.userProvider.checkPermission('ROLES.ADD')">
                        <i class="fas fa-plus mr-2"></i>
                        {{ 'STOWARZYSZENIE.MODALS.NEW_ROLE.TRIGGER_BUTTON' | translate }}
                    </button>
                </div>
                <div class="card-body example-container">
                    <div class="d-flex mt-1 mb-3">
                        <div>
                            {{ 'STOWARZYSZENIE.MODULES.ROLES.CHOOSE_ROLE' | translate }}
                        </div>

                        <!-- roles select -->
                        <select class="custom-select" #roleSelect (change)="selectRole(roleSelect.value)" [disabled]="this.isLoading">
                            <option value="0" selected disabled>
                                {{ 'STOWARZYSZENIE.MODULES.ROLES.SELECT_DESC' | translate }}
                            </option>

                            <option value="spinner" *ngIf="rolesAreLoading">
                                <div class="d-flex justify-content-center">c
                                    <div class="spinner-border" role="status">
                                        <span class="sr-only">Loading...</span>
                                    </div>
                                </div>
                            </option>

                            <option *ngFor="let role of this.roles" [value]="role.id">
                                {{ role['name_' + lang] }}
                            </option>
                        </select>
                    </div>

                    <div *ngIf="!permissionsLoading; else permissionsLoad">
                        <div *ngIf="this.selectedRole && this.selectedRole.role && this.selectedRole.permissions && !this.selectedChooseRoles">
                            <div class="d-flex mb-3" *ngIf="this.selectedRole.role.id != 2">
                                <div class="btn">
                                    <a [routerLink]="['../../../role/' + this.selectedRole.role.id + '/users']" class="external-link primary">
                                        <i class="fas fa-users"></i> {{ 'STOWARZYSZENIE.MODULES.ROLE_USER.LABEL.SHOW' | translate }}
                                    </a>
                                </div>
                            </div>

                            <div class="d-flex mb-3">
                                {{ 'STOWARZYSZENIE.MODULES.ROLES.ARE_EDITING' | translate }}
                                <strong class="ml-3" *ngIf="this.selectedRole">
                                    {{ ' ' + this.selectedRole.role['name_' + lang] }}
                                </strong>
                                    <button class="btn btn-link btn-sm ml-5" (click)="openEditRoleModal(this.selectedRole.role)" style="padding: 0;">
                                    {{ 'STOWARZYSZENIE.MODULES.ROLES.EDIT_NAME' | translate }}
                                </button>
                                    <button class="btn btn-link btn-sm ml-2" (click)="deleteRole()" style="padding: 0;">
                                    <i class="fas fa-trash"></i> {{ 'STOWARZYSZENIE.MODULES.ROLES.DELETE_ROLE' | translate }}
                                </button>
                            </div>

                            <div class="permissions" *ngIf="this.selectedRole.permissions && !this.selectedChooseRoles">
                                <div class="select-all mb-3">
                                    <button class="btn btn-sm btn-info" (click)="selectUnselectAll(roles)">
                                        <span *ngIf="roles.isAllSelected; else noneSelected">
                                            {{ 'STOWARZYSZENIE.MODULES.ROLES.UNSELECT_ALL' | translate }}
                                        </span>
                                        <ng-template #noneSelected>
                                            {{ 'STOWARZYSZENIE.MODULES.ROLES.SELECT_ALL' | translate }}
                                        </ng-template>
                                    </button>

                                    <button class="btn btn-sm btn-info ml-3" (click)="expandCollapseAll(roles)">
                                        <span *ngIf="roles.isAllCollapsed; else isCollapsed">
                                            {{ 'STOWARZYSZENIE.MODULES.ROLES.EXPAND_ALL' | translate }}
                                            <i class="fas fa-angle-double-down ml-2"></i>
                                        </span>
                                        <ng-template #isCollapsed>
                                            {{ 'STOWARZYSZENIE.MODULES.ROLES.COLLAPSE_ALL' | translate }}
                                            <i class="fas fa-angle-double-up ml-2"></i>
                                        </ng-template>
                                    </button>
                                </div>

                                <div *ngIf="this.selectedRole.permissions">
                                    <app-permission-group *ngFor="let group of this.roles.parentChildChecklist" [permissionGroupObj]="group">
                                    </app-permission-group>
                                </div>
                            </div>

                            <div class="action" *ngIf="!this.selectedChooseRoles">
                                <button class="btn btn-success" [class.btn-progress]="isSaving" (click)="saveRole(roleSelect.value)">
                                    {{ 'STOWARZYSZENIE.CRUD_BUTTONS.SAVE' | translate }}
                                </button>
                            </div>
                        </div>
                    </div>

                    <ng-template #permissionsLoad>
                        <div class="d-flex justify-content-center">
                            <div class="spinner-border text-primary">
                            </div>
                        </div>
                    </ng-template>
                </div>
            </div>
        </div>
    </div>
</div>
