<div class="card card-danger">
    <div class="card-header">
      <h4>Users</h4>
      <div class="card-header-action">
        <a href="#" class="btn btn-danger btn-icon icon-right">View All <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="card-body">
      <div class="owl-carousel owl-theme owl-loaded owl-drag" id="users-carousel">
      <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-834px, 0px, 0px); transition: all 0.25s ease 0s; width: 1807px;"><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-2.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Kusnaedi</div>
              <div class="text-job text-muted">Mobile Developer</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user2 followed');" data-unfollow-action="alert('user2 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-3.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Bagus Dwi Cahya</div>
              <div class="text-job text-muted">UI Designer</div>
              <div class="user-cta">
                <button class="btn btn-danger following-btn" data-unfollow-action="alert('user3 unfollowed');" data-follow-action="alert('user3 followed');">Following</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-4.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Wildan Ahdian</div>
              <div class="text-job text-muted">Project Manager</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user4 followed');" data-unfollow-action="alert('user4 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-5.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Deden Febriansyah</div>
              <div class="text-job text-muted">IT Support</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user5 followed');" data-unfollow-action="alert('user5 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-1.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Hasan Basri</div>
              <div class="text-job text-muted">Web Developer</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user1 followed');" data-unfollow-action="alert('user1 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-2.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Kusnaedi</div>
              <div class="text-job text-muted">Mobile Developer</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user2 followed');" data-unfollow-action="alert('user2 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item active" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-3.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Bagus Dwi Cahya</div>
              <div class="text-job text-muted">UI Designer</div>
              <div class="user-cta">
                <button class="btn btn-danger following-btn" data-unfollow-action="alert('user3 unfollowed');" data-follow-action="alert('user3 followed');">Following</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item active" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-4.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Wildan Ahdian</div>
              <div class="text-job text-muted">Project Manager</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user4 followed');" data-unfollow-action="alert('user4 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item active" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-5.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Deden Febriansyah</div>
              <div class="text-job text-muted">IT Support</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user5 followed');" data-unfollow-action="alert('user5 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned active" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-1.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Hasan Basri</div>
              <div class="text-job text-muted">Web Developer</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user1 followed');" data-unfollow-action="alert('user1 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-2.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Kusnaedi</div>
              <div class="text-job text-muted">Mobile Developer</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user2 followed');" data-unfollow-action="alert('user2 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-3.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Bagus Dwi Cahya</div>
              <div class="text-job text-muted">UI Designer</div>
              <div class="user-cta">
                <button class="btn btn-danger following-btn" data-unfollow-action="alert('user3 unfollowed');" data-follow-action="alert('user3 followed');">Following</button>
              </div>
            </div>  
          </div>
        </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
          <div class="user-item">
            <img alt="image" src="assets/img/avatar/avatar-4.png" class="img-fluid">
            <div class="user-details">
              <div class="user-name">Wildan Ahdian</div>
              <div class="text-job text-muted">Project Manager</div>
              <div class="user-cta">
                <button class="btn btn-primary follow-btn" data-follow-action="alert('user4 followed');" data-unfollow-action="alert('user4 unfollowed');">Follow</button>
              </div>
            </div>  
          </div>
        </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
    </div>
  </div>