
<div class="section-header">
  <h1>{{ 'STOWARZYSZENIE.MODULES.COMMITTEE.PAGE_TITLE' | translate }}</h1>
</div>
<div class="section-body">
  <h2 class="section-title">
      {{ 'STOWARZYSZENIE.MODULES.COMMITTEE.SECTION_TITLE' | translate }}
  </h2>
  <p class="section-lead">
      {{ 'STOWARZYSZENIE.MODULES.COMMITTEE.PAGE_DESC' | translate }}
  </p>

  <div class="card">
      <div class="d-flex justify-content-center" *ngIf="loading; else content">
        <div class="spinner-border text-primary"></div>
      </div>

      <ng-template #content>
        <div class="card-header">
          <h4>
            {{ 'STOWARZYSZENIE.MODULES.COMMITTEE.LIST_TITLE' | translate}}
          </h4>
          <div class="card-header-action">
            <a class="btn btn-info btn-icon icon-left text-white" (click)="addPC()">
              <i class="fas fa-plus"></i>
              {{ 'STOWARZYSZENIE.MODULES.COMMITTEE.ADD_PC_BTN' | translate }}
            </a>
          </div>
        </div>
        <div class="card-body">
          <div class="owl-carousel owl-theme owl-loaded owl-drag" id="users-carousel">
          <div class="owl-stage-outer"><div class="owl-stage" style="transform: translate3d(-834px, 0px, 0px); transition: all 0.25s ease 0s; width: 1807px;"><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-2.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Kusnaedi</div>
                  <div class="text-job text-muted">Mobile Developer</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user2 followed');" data-unfollow-action="alert('user2 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-3.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Bagus Dwi Cahya</div>
                  <div class="text-job text-muted">UI Designer</div>
                  <div class="user-cta">
                    <button class="btn btn-danger following-btn" data-unfollow-action="alert('user3 unfollowed');" data-follow-action="alert('user3 followed');">Following</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-4.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Wildan Ahdian</div>
                  <div class="text-job text-muted">Project Manager</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user4 followed');" data-unfollow-action="alert('user4 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-5.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Deden Febriansyah</div>
                  <div class="text-job text-muted">IT Support</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user5 followed');" data-unfollow-action="alert('user5 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-1.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Hasan Basri</div>
                  <div class="text-job text-muted">Web Developer</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user1 followed');" data-unfollow-action="alert('user1 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-2.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Kusnaedi</div>
                  <div class="text-job text-muted">Mobile Developer</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user2 followed');" data-unfollow-action="alert('user2 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item active" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-3.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Bagus Dwi Cahya</div>
                  <div class="text-job text-muted">UI Designer</div>
                  <div class="user-cta">
                    <button class="btn btn-danger following-btn" data-unfollow-action="alert('user3 unfollowed');" data-follow-action="alert('user3 followed');">Following</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item active" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-4.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Wildan Ahdian</div>
                  <div class="text-job text-muted">Project Manager</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user4 followed');" data-unfollow-action="alert('user4 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item active" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-5.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Deden Febriansyah</div>
                  <div class="text-job text-muted">IT Support</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user5 followed');" data-unfollow-action="alert('user5 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned active" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-1.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Hasan Basri</div>
                  <div class="text-job text-muted">Web Developer</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user1 followed');" data-unfollow-action="alert('user1 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-2.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Kusnaedi</div>
                  <div class="text-job text-muted">Mobile Developer</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user2 followed');" data-unfollow-action="alert('user2 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-3.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Bagus Dwi Cahya</div>
                  <div class="text-job text-muted">UI Designer</div>
                  <div class="user-cta">
                    <button class="btn btn-danger following-btn" data-unfollow-action="alert('user3 unfollowed');" data-follow-action="alert('user3 followed');">Following</button>
                  </div>
                </div>  
              </div>
            </div></div><div class="owl-item cloned" style="width: 119px; margin-right: 20px;"><div>
              <div class="user-item">
                <img alt="image" src="assets/img/avatar/avatar-4.png" class="img-fluid">
                <div class="user-details">
                  <div class="user-name">Wildan Ahdian</div>
                  <div class="text-job text-muted">Project Manager</div>
                  <div class="user-cta">
                    <button class="btn btn-primary follow-btn" data-follow-action="alert('user4 followed');" data-unfollow-action="alert('user4 unfollowed');">Follow</button>
                  </div>
                </div>  
              </div>
            </div></div></div></div><div class="owl-nav disabled"><div class="owl-prev">prev</div><div class="owl-next">next</div></div><div class="owl-dots"><div class="owl-dot active"><span></span></div><div class="owl-dot"><span></span></div></div></div>
        </div>
      </ng-template>
  </div>
</div>